{% extends "@barrio/layout/page.html.twig" %}

{{ attach_library('barrio/login') }}

{% block content %}
<div id="login_content" style="background-image: url(&quot;https://auth.huaweicloud.com/authui/public/custom/images/fc12b6a.loginbackground_hc.jpg&quot;); background-size: cover;">
  <div class="widthLimit">
    <div id="loginAdv">
      <a href="#" target="_blank"> <img src="https://res-img2.huaweicloud.com/content/dam/cloudbu-site/archive/china/zh-cn/banner/login/Kubernets_pc_0926.png" alt=""></a>
    </div>
    <div id="loginForm">
      {{ page.content }}
    </div>
  </div>
</div>

{% endblock %}
