//for header block float left;
.block-system-branding-block {
  float: left;
}
.region-breadcrumb {
  //height: 2.5rem;
  height: 40px;
  .block-system-breadcrumb-block {
    height: inherit;
    .breadcrumb {
      height: inherit;
      line-height: unset;
    }
  }
}

a.tabledrag-handle .handle {
  width: 25px;
  height: 25px;
}