{% extends "@bootstrap/system/page.html.twig" %}

{% block main %}
  {{ attach_library('aro/user.login') }}
  <div id="content" style="background-image: url('https://auth.huaweicloud.com/authui/public/custom/images/fc12b6a.loginbackground_hc.jpg'); -webkit-background-size: cover;background-size: cover;">
    <div class="widthLimit">
      <div id="loginAdv">
        <a href="https://activity.huaweicloud.com/2018nov-promotion/index.html" mate_data_ts="www_china_zh-cn_index.click.banner_login" target="_blank">
          <img src="https://activity.huaweicloud.com/content/dam/cloudbu-site/archive/china/zh-cn/banner/login/1016-shuang11dacu.png" alt="">
        </a>
      </div>

      <div id="loginForm">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endblock %}