//system.admin.css
.panel {
  padding: 0px;
}

.admin-list li a .label {
  color: #348ee3;
}
.admin-list span.label {
  padding: 0;
}
.views-displays .label {
  color: #707478;
  font-size: 100%;
}
.views-displays span {
  margin-left: -5px;
}

.views-ui-display-tab-bucket.footer {
  margin-left: 0px;
}

.views-ui-dialog {
  z-index: 9999;
  top: 60px;
}
.js-form-type-select label {
  display: inherit;
  line-height: 25px;
}

details .details-wrapper {
  padding-left: 30px;
}

table.responsive-enabled td {
  padding: 5px 2px;
}
.system-modules tr.even, .system-modules tr.odd, .locale-translation-status-form tr.even, .locale-translation-status-form tr.odd {
  border-bottom: 3px solid #fff;
}
.system-modules tr td.module {
  padding-left: 5px;
  padding-top: 5px;
}