
//Fixed Smart leftpanel margin top
.toolbar-fixed #left-panel {
  padding-top: 88px;
}

a.tabledrag-handle .handle {
  width: 24px;
  height: 24px;
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
}

//Fixed for views edit page
span.label {
  color: rgba(100, 91, 78, 0.76);
}

.form--inline .form-actions {
  clear: none;
}
.form--inline {
  margin-bottom: 10px;
}
.form-actions {
  margin-left: 0;
  margin-right: 0;
}

.path-admin .page-title {
  margin: 0;
}

.tabs__tab {
  width: auto;
}

ul.nav-tabs {
  margin: 0;
}
// Fix for block layout nav tabs style.
.jarviswidget.nav-tabs {
  margin-bottom: 5px;
}

// Fix bootstrap table.less
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  vertical-align: middle;
}

// Fix smart plugin
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 0 5px;
}

// Fix block layout nav tabs padding
.jarviswidget header .nav-tabs > li > a {
  border-radius: 0px;
  border: none;
  padding: 5px 15px 10px;
}