// Page Layout
// -----------------------------------------------------------------------------
.panel-body {
  padding-top: 0px;
}

.page-sidebar-minified .sidebar .nav-profile {
  display: block;
  > .info {
    display: none;
  }
}

.page-sidebar-minified .sidebar {
  display: block;
  .info {
    display: none;
  }
  .cover {
    display: none;
  }
  .nav ul li:not(first) {
    top: -5px;
    display: none;
    ul li {
      display: none;
    }
  }
}

.views-ui-view-name > h3 {
  font-size: 20px;
}

//.table.views-table>tbody>tr>td, .table.views-tabl>tbody>tr>th, .table.views-tabl>tfoot>tr>td, .table.views-tabl>tfoot>tr>th, .table.views-tabl>thead>tr>td, .table.views-tabl>thead>tr>th {
//  padding: 5px 0;
//  height: 28px;
//}
td {
  padding: 0;
}