{% extends "@bootstrap_barrio/layout/page.html.twig"  %}
{% block head %}
  <div class="header-top">
    <div class="header-main" style="min-height: 30px;">
      <div class="header-menu">
        <i class="header-icon header-icon-menu"></i>
      </div>

      <a class="header-logo" href="#"></a>
      <div class="header-nav" style="z-index: 999!important;">
        <ul class="header-nav-list">
          <li class="header-nav-hot"><a href="#">最新活动</a></li>
          <li class="header-nav-hot"><a href="#">产品</a></li>
          <li class="header-nav-hot"><a href="#">解决方案</a></li>
          <li class="header-nav-hot"><a href="#">定价</a></li>
          <li class="header-nav-hot"><a href="#">企业智能</a></li>
          <li class="header-nav-hot"><a href="#">云市场</a></li>
          <li class="header-nav-hot"><a href="#">云社区</a></li>
          <li class="header-nav-hot"><a href="#">合作伙伴</a></li>
          <li class="header-nav-hot"><a href="#">支持与服务</a></li>
          <li class="header-nav-item-more header-nav-item-hide"><a href="javascript:;">更多</a> </li>
        </ul>
        <div class="header-nav-hover-line"></div>
      </div>

      <div class="header-tools">
        <ul class="header-tools-list">
          <li class="header-search-switch">
            <i class="header-icon header-icon-search"></i>
          </li>
          <li class="header-lang">
            <div class="header-lang-current">
              <i class="header-icon header-icon-lang-zh"></i>
              <span class="header-lang-label">中国站</span>
            </div>

            <ul class="header-lang-list">
              <li class="header-lang-item active"><a>简体站 - 简体中文</a></li>
              <li class="header-lang-item"><a href="javascript:changeLang('en-us');">中国站 - English</a> </li>
              <li class="header-lang-item"><a href="javascript:changeLang('en-us');">中国站 - English</a> </li>
            </ul>
          </li>
          <li><a href="#">控制台</a></li>
          <li><a href="#">备案</a></li>
          <li class="header-login-mobile">
            <a href="#">
              <span class="header-icon header-icon-user js-login"></span>
            </a>
          </li>
          <li class="header-login">
            <a href="#"  class="btn js-login">登录</a>
          </li>
          <li class="header-register">
            <a href="#" class="btn js-register">注册</a>
          </li>
        </ul>
      </div>


    </div>
  </div>


  {#<div class="header-main" style="min-height: 30px;">#}
    {#<div class="header-menu">#}
      {#<i class="header-icon header-icon-menu"></i>#}
    {#</div>#}
    {#<a class="header-logo" href="//www.huaweicloud.com"></a>#}

    {#<div class="header-nav" style="z-index: 999!important;">#}

      {#<ul class="header-nav-list">#}
        {#<li class="header-nav-hot"><a href="#">最新活动</a></li>#}
        {#<li class="header-nav-hot"><a href="#">产品</a></li>#}
        {#<li class="header-nav-hot"><a href="#">解决方案</a></li>#}
        {#<li class="header-nav-hot"><a href="#">定价</a></li>#}
        {#<li class="header-nav-hot"><a href="#">企业智能</a></li>#}
        {#<li class="header-nav-hot"><a href="#">云市场</a></li>#}
        {#<li class="header-nav-hot"><a href="#">云社区</a></li>#}
        {#<li class="header-nav-hot"><a href="#">合作伙伴</a></li>#}
        {#<li class="header-nav-hot"><a href="#">支持与服务</a></li>#}
      {#</ul>#}
      {#<div class="header-nav-hover-line"></div>#}
    {#</div>#}
  {#</div>#}




{% endblock %}
