<div class="console-top-footer container-fluid">
  <div class="dropup pull-left">
    <a class="dropdown-toggle console-footer-btn-dropdown">
      <span class="footer-zh-cn console-footer-btn-icon"></span>
      <span class="padding-left-20">简体中文</span>
      <ul class="dropdown-menu dropdown-menu-language">
        <li><a target="_self"><span>English</span></a> </li>
      </ul>
    </a>
  </div>
  <div class="pull-right">
    <span class="pull-left console-footer-btn" >版权所有&copy;华为软件技术有限公司 2018 保留一切权利</span>
    <div class="pull-left console-footer-vertical-line" style=""></div>
    <a class="console-footer-btn pull-left" target="_blank" href="#" style="">法律声明</a>
    <div class="pull-left console-footer-vertical-line"></div>
    <a class="console-footer-btn pull-left" target="_blank" href="#">隐私政策声明</a>
  </div>
</div>