.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #e41f2b;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.header-nav-hover-line {
  position: relative;
  top: 50px;
  z-index: 0;
  height: 3px;
  width: 0;
  padding: 0;
  background-color: #e41f2b;
  bottom: 0;
  -webkit-transition: .3s cubic-bezier(.4,0,.2,1);
  transition: .3s cubic-bezier(.4,0,.2,1);
}

//footer
footer {
  color: rgba(255,255,255,.7);
  background: #3D3E49;
  a:hover, a:focus, a:active, a:hover {
    color: #23527c;
    outline-width: 0;
  }
  a:active {
    star: expression(this.onFocus=this.blur());
  }
  a:hover, a:focus, a:active, a:hover {
    color: #ffffff;
  }
  a {
    color: rgba(255,255,255,.7);
    text-decoration: none;
  }
  .footer-copyright-container {
    background: #3D3E49;
    border-top: solid 1px #252B3A;
    .footer-wrapper {
      position: relative;
      max-width: 1200px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: auto;
      margin-right: auto;
      &:before, &:after {
        content: "";
        display: table;
      }
      &:after {
        clear: both;
      }
      .footer-law {
        float: right;
        overflow: hidden;
        font-size: 0;
        & > li {
          display: inline-block;
          font-size: 12px;
          line-height: 18px;
          .footer-link {
            -webkit-transition: .2s;
            transition: .2s;
            &:hover {
              color: #ffffff;
            }
          }
        }
        & > li + li:before {
          content: "|";
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .footer-copyright {
        float: left;
        font-size: 0;
        span, a {
          display: inline-block;
          margin-right: 10px;
          font-size: 12px;
          line-height: 18px;
        }
      }
      .footer-record {
        clear: both;
        font-size: 0;
        i {
          display: inline-block;
          width: 18px;
          height: 18px;
          margin-right: 8px;
          vertical-align: middle;
          background-size: 100% 100%;
        }
        .footer-icon-record1 {
          background-image: url(../images/global/a6.png?sttl=0817008);
        }
        .footer-icon-record2 {
          background-image: url(../images/global/a7.png?sttl=0817008);
        }
        i a {
          display: block;
          width: 18px;
          height: 18px;
        }
        span {
          font-size: 12px;
          line-height: 24px;
          vertical-align: middle;
        }
      }
    }
    .footer-copyright-wrapper {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
a.footer-link:hover {
  text-decoration: none;
}
a.logo img {
  width: 30px;
}