<div id="container" data-spm-anchor-id="0.7477816.0.i1.24b717eb4LHwlI">
  <div data-reactroot="" class="content">
    <div class="head">
      欢迎注册阿里云
    </div>

    <form class="next-form next-form-left ver next-form-large aliyun-reg-form">
      <div class="next-form-item next-row" required="">
        <div class=" next-form-item-control">
          <span class="next-input next-input-single next-input-large"><input type="text" data-meta="Field" id="nick" autocomplete="off" placeholder="设置会员名" value="" height="100%" /></span>
          <!-- react-text: 13 -->
          <!-- /react-text -->
          <div class=""></div>
          <!-- react-text: 15 -->
          <!-- /react-text -->
        </div>
      </div>
      <div class="next-form-item next-row has-success" required="">
        <div class=" next-form-item-control">
          <span class="next-input next-input-single next-input-large"><input type="password" data-meta="Field" id="password" autocomplete="off" placeholder="设置你的登录密码" value="" height="100%" data-spm-anchor-id="0.7477816.0.i0.24b717eb4LHwlI" /></span>
          <!-- react-text: 20 -->
          <!-- /react-text -->
          <div class=""></div>
          <!-- react-text: 22 -->
          <!-- /react-text -->
        </div>
      </div>
      <div class="next-form-item next-row" label="" required="">
        <div class=" next-form-item-control">
          <span class="next-input next-input-single next-input-large"><input type="password" data-meta="Field" id="rePassword" autocomplete="off" placeholder="请再次输入你的密码" value="" height="100%" /></span>
          <!-- react-text: 28 -->
          <!-- /react-text -->
          <div class=""></div>
          <!-- react-text: 30 -->
          <!-- /react-text -->
        </div>
      </div>
      <div class="next-form-item next-row">
        <div class=" next-form-item-control">
          <button type="button" class="next-btn next-btn-primary next-btn-large">
            <!-- react-text: 51 -->同意条款并注册
            <!-- /react-text --></button>
          <!-- react-text: 52 -->
          <!-- /react-text -->
          <div class=""></div>
          <!-- react-text: 54 -->
          <!-- /react-text -->
        </div>
      </div>
      <div class="next-form-item next-row check-agreement">
        <div class=" next-form-item-control">
          <label class="next-checkbox "><span class="next-checkbox-inner"><i class="next-icon next-icon-select next-icon-xs"></i></span><input type="checkbox" data-meta="Field" id="checkbox" aria-checked="false" value="on" /></label>
          <span class="next-form-text-align agreement"><span><a href="http://terms.aliyun.com/legal-agreement/terms/suit_bu1_ali_cloud/suit_bu1_ali_cloud201712130944_39600.html" target="_blank">《阿里云网站服务条款》</a><span class="f-line">|</span><a href="http://terms.aliyun.com/legal-agreement/terms/suit_bu1_ali_cloud/suit_bu1_ali_cloud201710161525_98396.html" target="_blank" data-spm-anchor-id="0.7477816.0.0">《法律声明和隐私权政策》</a></span></span>
          <!-- react-text: 62 -->
          <!-- /react-text -->
          <div class=""></div>
          <!-- react-text: 64 -->
          <!-- /react-text -->
        </div>
      </div>
    </form>
  </div>
</div>
