
<form action="{{ base_url }}/search/node" class="header-search pull-right">
	<input id="search-fld" type="text" name="param" placeholder="{{ 'Please input keyword'|t }}">
	<button type="submit">
		<i class="fa fa-search"></i>
	</button>
	<a href="javascript:void(0);" id="cancel-search-js" title="{{ 'Cancel Search'|t }}"><i class="fa fa-times"></i></a>
</form>