/** Override base theme for tplus. **/
.site-footer {
  background: #fff !important;
  padding: 0 !important;
}
footer {
  color: rgba(255,255,255,.7) !important;
}
.inputFieldBorder {
  /* width: 320px; */
  height: 48px;
}

section.region-footer-fifth {
  display: block;
}