footer.user {
  height: 34px;
  color: #aaa;
}
.console-top-footer {
  width: 100%;
  height: 34px;
  line-height: 34px;
  clear: both;
  margin: auto;
  z-index: 10000;
  position: relative;
  font-size: 12px;
}
.console-footer-vertical-line {
  border-left: 1px solid #6c6c6c;
  height: 12px;
  margin: 11px 2px 0 2px;
}
.console-footer-btn {
  padding: 0 10px;
}