a, a:hover, a:visited {
  text-decoration: none;
}
ul, li, dd, dl {
  list-style: none;
}
.bg-dark {
  background-color: #222 !important;
}
.header-nav {
  position: relative;
  float: left;
  //margin-left: 10px;
  //width: calc(100% - 610px);
  height: 100%;
  overflow: hidden;
}
.header-nav-list {
  position: relative;
  z-index: 1;
}
.header-nav-list:before, .header-nav-list:after {
  content: " ";
  display: table;
}
.header-nav-list > li {
  float: left;
}
.header-nav-list > li > a {
  display: block;
  padding: 15px;
  line-height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  color: #fff;
}
.header-nav-list > li:hover > a {
  color: #e41f2b;
}
.header-nav-list > li.header-nav-hot a {
  position: relative;
}
.header-nav-list > li.header-nav-hot a:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E41F2B;
}
.header-nav-list > li.header-nav-item-hide {
  display: none;
}

.navbar {
  padding: unset;
  color: #ffffff;
}
.header-menu-mb {
  display: none;
}
.header-menu, .header-menu-mb {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: transform .3s;
}
.header-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/global/header/header-sprite.png);
  background-size: 104px auto;
}
.header-icon-menu {
  background-position: -24px -22px;
  width: 18px;
  height: 18px;
}
#header .header-icon-menu {
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}
.navbar-brand {
  line-height: 25px;
}
.header-tools {
  float: right;
  height: 100%;
}
.header-tools-list {
  height: 100%;
}
.header-tools-list:before, .header-tools-list:after {
  content: "";
  display: table;
}

.header-tools-list > li {
  float: left;
  height: 100%;
  padding: 0 10px;
  font-size: 0;
  //line-height: 60px;
  cursor: pointer;
}

.header-tools-list > li.header-register {
  padding-left: 20px;
  padding-right: 20px;
}
.header-tools-list > li > a {
  display: block;
  padding: 0 10px;
  margin: 0 -10px;
  font-size: 14px;
  //line-height: 60px;
}
.header-tools-list > li.header-register > a {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #e41f2b;
}