a, a:hover, a:visited {
  text-decoration: none;
}
ul, li, dd, dl {
  list-style: none;
}
img {
  border: 0;
}

p, ul, li, h1, h2, h3, h4, h5, h6, dl, dd, a {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.bg-dark {
  background-color: #222 !important;
}
#header .header-icon-menu {
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}

.header-menu:hover  .header-icon-menu {
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.topheader {
  z-index: 999!important;
}
.header-nav {
  position: relative;
  float: left;
  margin-left: 10px;
  width: calc(100% - 400px);
  height: 100%;
  overflow: hidden;
}
.header-nav-list {
  position: relative;
  z-index: 1;
}
.header-nav-list:before, .header-nav-list:after {
  content: " ";
  display: table;
}
.header-nav-list > li {
  //float: left;
}
.header-nav-list > li > a {
  display: block;
  padding: 15px;
  line-height: 30px;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 14px;
  color: #fff;
}
.header-nav-list > li:hover > a {
  color: #e41f2b;
}
.header-nav-list > li.header-nav-hot a {
  position: relative;
}
.header-nav-list > li.header-nav-hot a:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #E41F2B;
}
.header-nav-list > li.header-nav-item-hide {
  display: none;
}

.navbar {
  padding: unset;
  color: #ffffff;
}
.header-menu-mb {
  display: none;
}
.header-menu, .header-menu-mb {
  float: left;
  width: 60px;
  height: 60px;
  font-size: 0;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: transform .3s;
}
.header-icon {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/global/header/header-sprite.png);
  background-size: 104px auto;
}
.header-icon-menu {
  background-position: -24px -22px;
  width: 18px;
  height: 18px;
}
#header .header-icon-menu {
  -webkit-transition: .3s .1s;
  transition: .3s .1s;
}
.navbar-brand {
  line-height: 25px;
}
.header-tools {
  float: right;
  height: 100%;
}
.header-tools-list {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.header-tools-list:before, .header-tools-list:after {
  content: "";
  display: table;
}

.header-tools-list > li {
  float: left;
  height: 100%;
  padding: 0 10px;
  font-size: 0;
  line-height: 60px;
  cursor: pointer;
}

.header-tools-list > li.header-register {
  padding-left: 20px;
  padding-right: 20px;
}
.header-tools-list > li > a {
  display: block;
  padding: 0 10px;
  margin: 0 -10px;
  font-size: 14px;
  line-height: 60px;
}
.header-tools-list > li.header-register > a {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #e41f2b;
}
.header-lang {
  position: relative;
}
.header-lang-current {
  font-size: 0;
}

.header-icon-lang-zh {
  background-position: -18px -64px;
  width: 18px;
  height: 14px;
}
.header-lang-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  font-size: 14px;
}
.header-lang-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(34,34,34,1);
  box-shadow: 0 2px 15px rgba(0,0,0,.4);
  z-index: 9;
}
.header-lang-item {
  position: relative;
}
.header-icon-search {
  background-position: -36px -46px;
  width: 16px;
  height: 16px;
}
.header-search-switch:hover .header-icon-search {
  background-position: -68px 0px;
}

.header-lang-item {
  position: relative;
}

.header-lang-item > a {
  position: relative;
  display: block;
  line-height: 20px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  color: #c3c5c6;
  white-space: nowrap;
  cursor: default;
  transition: .2s;
}

.header-lang-item > a[href] {
  cursor: pointer;
}

.header-lang-item.active:after,
.header-lang-item:hover:after {
  content: "";
  position: absolute;
  right: 0;
  height: 20px;
  top: 10px;
  border-right: 3px solid #e41f2b;
}

.header-lang-item.active > a,
.header-lang-item:hover > a {
  color: #e41f2b;
}

.header-lang:hover .header-icon-lang-zh {
  background-position: -38px -64px;
}

.header-lang:hover .header-lang-label {
  color: #e41f2b;
}

.header-lang:hover .header-lang-list {
  display: block;
}

//.header-login-mobile {
//  display: none;
//}

.header-tools-list > li.header-register {
  padding-left: 20px;
  padding-right: 20px;
}

.header-tools-list > li.header-register > a {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #e41f2b;
}

.header-tools-list > li.header-register:hover > a {
  color: white;
  background-color: #ef323e;
}

.header-search-switch:hover .header-icon-search {
  background-position: -68px 0px;
}

.header-search-switch.show-search .header-icon-search {
  background-position: -68px -36px;
}

.header-search-switch.show-search:hover .header-icon-search {
  background-position: -68px -18px;
}

.header-user {
  //display: none;
  font-size: 0;
}

.header-user-avator {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.header-tool-user-avator-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 20px;
}

.header-user-name span {
  display: inline-block;
  vertical-align: middle;
  min-width: 20px;
  max-width: 85px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//.header-user-name i {
//  margin-left: 5px;
//}

.header-user.msg .header-user-avator:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  background-color: #e41e2c;
  border-radius: 50%;
}

.header-user-info-list {
  font-size: 14px;
}

.header-user-info-list > li {
  position: relative;
  line-height: 20px;
}

.header-user-info-list > li:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 3px;
  background: #e41f2b;
  height: 20px;
  margin-top: -10px;
}

.header-user-info-list > li > a {
  display: block;
  padding: 6px 20px 6px 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-user-info-list > li:hover:after {
  display: block;
}

.header-user-info-list > li:hover > a {
  color: #e41f2b;
}

.header-user-info-split {
  padding: 10px 20px;
}

.header-user-info-split:before {
  content: "";
  display: block;
  border-top: solid 1px #4a4a4a;
}

.header-user-info-item-account {
  overflow: hidden;
}

.header-user-info-item-account > a {
  float: left;
  width: 50%;
}

.header-user-info-list .header-verification {
  padding-left: 0;
  line-height: 20px;
  text-align: right;
}
.header-tools-list > li > a {
  color: #fff;
}

.header-tools-list > li > a:hover {
  color: #e41f2b;
}

.header-search-switch.show-search .header-icon-search {
  background-position: -68px -36px;
}

.header-search-switch.show-search:hover .header-icon-search {
  background-position: -68px -18px;
}
.header-lang-item.active > a, .header-lang-item:hover > a {
  color: #e41f2b;
}
ul.header-lang-list {
  padding-left: 0px;
}
.header-nav.overflow-visible {
  overflow: visible;
}
footer a {
  color: rgba(255,255,255,.7);
}
.site-footer {
  color: rgba(255,255,255,.7);
  background: #3D3E49!important;
  padding: .1rem 0;
}

//Footer css
footer {
  color: rgba(255,255,255,.7);
  background: #3D3E49!important;
}

@media (max-width: 1365px) {
  .header-nav-list > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .header-nav {
    display: none;
  }
}

.footer-copyright-container {
  background: #3D3E49;
  border-top: solid 1px #252B3A;
}
.footer-wrapper {
  position: relative;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
.footer-copyright-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-wrapper:before, .footer-wrapper:after {
  content: "";
  display: table;
}
.footer-law {
  float: right;
  overflow: hidden;
  font-size: 0;
}
.footer-copyright {
  float: left;
  font-size: 0;
}
.footer-record {
  clear: both;
  font-size: 0;
}

.footer-law > li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
}
.footer-link {
  -webkit-transition: .2s;
  transition: .2s;
}
.footer-law > li + li:before {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}
.footer-copyright span, .footer-copyright a {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
}
.footer-copyright span, .footer-copyright a {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 18px;
}
.footer-icon-record1 {
  background-image: url(../images/global/a6.png?sttl=0817008);
}
.footer-record i {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: middle;
  background-size: 100% 100%;
}
.footer-record i a {
  display: block;
  width: 18px;
  height: 18px;
}
a:active, a:hover {
  outline-width: 0;
}
.footer-link:hover {
  color: #fff;
}
.footer-icon-record2 {
  background-image: url(../images/global/a7.png?sttl=0817008);
}
.footer-record span {
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
}
.header-nav-hover-line {
  position: absolute;
  z-index: 0;
  height: 3px;
  width: 0;
  padding: 0;
  background-color: #e41f2b;
  bottom: 0;
  -webkit-transition: .3s cubic-bezier(.4,0,.2,1);
  transition: .3s cubic-bezier(.4,0,.2,1);
}
.header-user {
  display: block;
}
.header-user-avator {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.header-tool-user-avator-img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-user-name {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 20px;
}

.header-user-name span {
  display: inline-block;
  vertical-align: middle;
  min-width: 20px;
  max-width: 85px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header-user-name i {
  margin-left: 5px;
}

.header-user.msg .header-user-avator:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 6px;
  background-color: #e41e2c;
  border-radius: 50%;
}

.header-user-info {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #222;
  box-shadow: 0 2px 15px rgba(0,0,0,.4);
  cursor: default;
  z-index: 9!important;
}

.header-user-info-list {
  font-size: 14px;
}

.header-user-info-list > li {
  position: relative;
  line-height: 20px;
}

.header-user-info-list > li:after {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  right: 0;
  width: 3px;
  background: #e41f2b;
  height: 20px;
  margin-top: -10px;
}

.header-user-info-list > li > a {
  display: block;
  padding: 6px 20px 6px 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-user-info-list > li:hover:after {
  display: block;
}

.header-user-info-list > li:hover > a {
  color: #e41f2b;
}

.header-user-info-split {
  padding: 10px 20px;
}

.header-user-info-split:before {
  content: "";
  display: block;
  border-top: solid 1px #4a4a4a;
}

.header-user-info-item-account {
  overflow: hidden;
}

.header-user-info-item-account > a {
  float: left;
  width: 50%;
}

.header-user-info-list .header-verification {
  padding-left: 0;
  line-height: 20px;
  text-align: right;
}

.header-verification i {
  margin-right: 5px;
  line-height: 20px;
}

.header-verification p {
  display: none;
  vertical-align: middle;
  font-size: 12px;
}

.header-verification:not(.active) p.state-unactive {
  display: inline-block;
  color: #ff8833;
}

.header-verification.active .header-icon-verification {
  background-position: 0px -64px;
}

.header-verification.active p.state-active {
  display: inline-block;
  color: #3dcaa6;
}

.header-user:hover .header-user-info {
  display: block;
}
.header-user-info-list > li.message span {
  width: auto;
  min-width: 16px;
  background-color: #e41f2b;
  float: right;
  padding: 0px 4px;
  border-radius: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff!important;
  margin-top: 3px;
}
/* 登录态 */
.header-user {
  display: block;
}
.header-icon-user {
  background-position: 0px -22px;
  width: 22px;
  height: 22px;
}
.header-login-mobile {
  display: none;
}

@media (max-width: 767px) {
  .header-tools-list > li {
    display: none;
  }

  .header-tools-list > .header-login-mobile {
    display: block;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .header-menu {
    display: none;
  }

  .header-menu-mb {
    display: block;
    cursor: pointer;
  }

  .header-menu-mb.show-nav .header-icon-menu {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .navbar-brand {
    background-image: url(../images/global/header/logo-mb.png?sttl=0817008);
  }
}
/* region 代码图标 */
.header-icon-corner-down {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 5px;
  border-top: solid 5px #d2d2d2;
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}

.header-icon-arrow-right {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  border-top: solid 1px;
  border-right: solid 1px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-icon-arrow-down {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 6px;
  padding-left: 1px;
  padding-right: 1px;
}

.header-icon-arrow-down:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  margin-top: -3px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* endregion 代码图标 */