a , a:hover, a:visited {
  text-decoration: none;
}
a.navbar-brand {
  line-height: 66px;
}
ul.nav > a, ul.nav li a, div.content span, div.content span a {
  color: rgba(255, 255, 255, 0.5);
}
ul.nav > a:hover, ul.nav li a:hover,div.content span:hover, div.content span a:hover {
  color: rgba(255, 255, 255, 0.75);
}
a.tabledrag-handle .handle {
  height: 24px;
  width: 24px;
}
ul.nav li.nav-item a {
  color: black;
}
ul.nav li.nav-item.active a {
  color: #0a6aa1;
}

div.form-actions {
  text-align: right;
}
.views-form {
  width: 100%;
}