#login_content {
  background-color: #F4F4F4;
  position: relative;
  height: calc(100% - 70px);
  min-height: 670px;
  min-width: 1200px;
  margin-top: -1rem; }

.widthLimit {
  position: relative;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px; }

#loginAdv {
  float: left;
  max-width: 800px;
  max-height: 515px;
  margin-top: 70px; }

#loginForm {
  width: 380px;
  display: inline-block;
  float: right;
  margin-top: 100px;
  background-color: #fff;
  color: #C1C1C1;
  font-size: 14px;
  border-color: #e4e4e4;
  border-radius: 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  margin-top: -500px; }

.nav-link {
  display: block;
  padding: 0.5rem .5rem; }

#loginForm h1 {
  font-size: 2rem;
  text-align: center;
  color: red; }

#edit-actions {
  text-align: center; }
