.service-list-nav-item .common-content-title-service-catalog:hover,.service-list-nav-item legend.service-catalog:hover {
  color: #39f
}

.resource-modal-content-list .resource-modal-catalog:nth-child(5n-4),.waterfall-list .waterfall-row:after {
  clear: both
}

.home-user-info-account a:hover,.item-content .service-content a:hover,.service-list-nav-item a.no-underline:active,.service-list-nav-item a.no-underline:hover,.service-list-nav-item a.no-underline:link,.service-list-nav-item a.no-underline:visited,.user-info-business-status-out a:hover {
  text-decoration: none
}

@font-face {
  font-family:homeIcomoon;src:url('//console-static.huaweicloud.com/static/home/theme/default/fonts/homeIcomoon.eot?ttf=271939911');src:url('//console-static.huaweicloud.com/static/home/theme/default/fonts/homeIcomoon.eot?ttf=271939911') format('embedded-opentype'),url('//console-static.huaweicloud.com/static/home/theme/default/fonts/homeIcomoon.woff?ttf=271939911') format('woff'),url('//console-static.huaweicloud.com/static/home/theme/default/fonts/homeIcomoon.ttf?ttf=271939911') format('truetype'),url('//console-static.huaweicloud.com/static/home/theme/default/fonts/homeIcomoon.svg?ttf=271939911') format('svg');font-weight:400;font-style:normal
}[class*=" hwsicon-service"],[class^=hwsicon-service] {
   font-family: homeIcomoon;
   speak: none;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
 }

.hwsicon-service-antiddos:before {
  content: "\e200"
}

.hwsicon-service-bigdata:before {
  content: "\e201"
}

.hwsicon-service-vpn:before {
  content: "\e202"
}

.hwsicon-service-webscan:before {
  content: "\e203"
}

.hwsicon-service-waf:before {
  content: "\e204"
}

.hwsicon-service-Security:before {
  content: "\e205"
}

.hwsicon-service-si:before {
  content: "\e206"
}

.hwsicon-service-codeci2:before {
  content: "\e207"
}

.hwsicon-service-deployman:before {
  content: "\e208"
}

.hwsicon-service-testman:before {
  content: "\e209"
}

.hwsicon-service-storage:before {
  content: "\e20a"
}

.hwsicon-service-codecheck:before {
  content: "\e20b"
}

.hwsicon-service-elb:before {
  content: "\e20c"
}

.hwsicon-service-eab:before {
  content: "\e20d"
}

.hwsicon-service-ess:before {
  content: "\e20e"
}

.hwsicon-service-sfs:before {
  content: "\e20f"
}

.hwsicon-service-ecm:before {
  content: "\e210"
}

.hwsicon-service-obs:before {
  content: "\e211"
}

.hwsicon-service-molap:before {
  content: "\e212"
}

.hwsicon-service-releaseman:before {
  content: "\e213"
}

.hwsicon-service-dcs:before {
  content: "\e214"
}

.hwsicon-service-dms:before {
  content: "\e215"
}

.hwsicon-service-rds:before {
  content: "\e216"
}

.hwsicon-service-hml:before {
  content: "\e217"
}

.hwsicon-service-Compute:before {
  content: "\e218"
}

.hwsicon-service-ims:before {
  content: "\e219"
}

.hwsicon-service-cpl:before {
  content: "\e21a"
}

.hwsicon-service-bms:before {
  content: "\e21b"
}

.hwsicon-service-kms:before {
  content: "\e21c"
}

.hwsicon-service-codehub:before {
  content: "\e21d"
}

.hwsicon-service-maas:before {
  content: "\e21e"
}

.hwsicon-service-pts:before {
  content: "\e21f"
}

.hwsicon-service-tas:before {
  content: "\e220"
}

.hwsicon-service-dis:before {
  content: "\e221"
}

.hwsicon-service-des:before {
  content: "\e222"
}

.hwsicon-service-datacraft:before {
  content: "\e223"
}

.hwsicon-service-cms:before {
  content: "\e224"
}

.hwsicon-service-iam:before {
  content: "\e225"
}

.hwsicon-service-Network:before {
  content: "\e226"
}

.hwsicon-service-dds:before {
  content: "\e227"
}

.hwsicon-service-projectman:before {
  content: "\e228"
}

.hwsicon-service-smn:before {
  content: "\e229"
}

.hwsicon-service-vpc:before {
  content: "\e22a"
}

.hwsicon-service-ces:before {
  content: "\e22b"
}

.hwsicon-service-dns:before {
  content: "\e22c"
}

.hwsicon-service-ccs:before {
  content: "\e22d"
}

.hwsicon-service-cloudtrace:before {
  content: "\e22f"
}

.hwsicon-service-eae:before {
  content: "\e231"
}

.hwsicon-service-dbs:before {
  content: "\e232"
}

.hwsicon-service-vbs:before {
  content: "\e233"
}

.hwsicon-service-directconnect:before {
  content: "\e234"
}

.hwsicon-service-workspace:before {
  content: "\e235"
}

.hwsicon-service-scs:before {
  content: "\e236"
}

.hwsicon-service-hwaf:before {
  content: "\e237"
}

.hwsicon-service-hva:before {
  content: "\e238"
}

.hwsicon-service-hid:before {
  content: "\e239"
}

.hwsicon-service-dec:before {
  content: "\e23a"
}

.hwsicon-service-deh:before {
  content: "\e23b"
}

.hwsicon-service-ddm:before {
  content: "\e23c"
}

.hwsicon-service-qos:before {
  content: "\e23d"
}

.hwsicon-service-taurus:before {
  content: "\e23e"
}

.hwsicon-service-ais:before {
  content: "\e23f"
}

.hwsicon-service-cdm:before {
  content: "\e240"
}

.hwsicon-service-spp:before {
  content: "\e241"
}

.hwsicon-service-csbs:before {
  content: "\e242"
}

.hwsicon-service-devcloud:before {
  content: "\e243"
}

.hwsicon-service-cloudformation:before {
  content: "\e244"
}

.hwsicon-service-dcc:before {
  content: "\e245"
}

.hwsicon-service-hbase:before {
  content: "\e246"
}

.hwsicon-service-stream:before {
  content: "\e247"
}

.hwsicon-service-das:before {
  content: "\e248"
}

.hwsicon-service-crs:before {
  content: "\e249"
}

.hwsicon-service-ars:before {
  content: "\e24a"
}

.hwsicon-service-ssa:before {
  content: "\e24b"
}

.hwsicon-service-pcop:before {
  content: "\e24c"
}

.hwsicon-service-dem:before {
  content: "\e24d"
}

.hwsicon-service-cvc:before {
  content: "\e24e"
}

.hwsicon-service-gss:before {
  content: "\e24f"
}

.hwsicon-service-cdn:before {
  content: "\e250"
}

.hwsicon-service-dws:before {
  content: "\e251"
}

.hwsicon-service-csdr:before {
  content: "\e252"
}

.hwsicon-service-csha:before {
  content: "\e253"
}

.hwsicon-service-tms:before {
  content: "\e254"
}

.hwsicon-service-servicestage:before {
  content: "\e255"
}

.hwsicon-service-MobileTest:before {
  content: "\e256"
}

.hwsicon-service-iot:before {
  content: "\e257"
}

.hwsicon-service-CloudIDE:before {
  content: "\e258"
}

.hwsicon-service-rts:before {
  content: "\e259"
}

.hwsicon-service-cloudadvisor:before {
  content: "\e25a"
}

.hwsicon-service-logtank:before {
  content: "\e25b"
}

.hwsicon-service-Cad:before {
  content: "\e25c"
}

.hwsicon-service-imsms:before {
  content: "\e25d"
}

.hwsicon-service-voicecall:before {
  content: "\e25e"
}

.hwsicon-service-cs:before {
  content: "\e25f"
}

.hwsicon-service-dbss:before {
  content: "\e260"
}

.hwsicon-service-nids:before {
  content: "\e261"
}

.hwsicon-service-uquery:before {
  content: "\e262"
}

.hwsicon-service-mobilebuilder:before {
  content: "\e263"
}

.hwsicon-service-datamodelbuilder:before {
  content: "\e264"
}

.hwsicon-service-assetmarket:before {
  content: "\e265"
}

.hwsicon-service-ruleengine:before {
  content: "\e266"
}

.hwsicon-service-workflowengine:before {
  content: "\e267"
}

.hwsicon-service-servicebuilder:before {
  content: "\e268"
}

.hwsicon-service-largescreenbuilder:before {
  content: "\e269"
}

.hwsicon-service-reportbuilder:before {
  content: "\e26a"
}

.hwsicon-service-webbuilder:before {
  content: "\e26b"
}

.hwsicon-service-cloudim:before {
  content: "\e26c"
}

.hwsicon-service-functionstage:before {
  content: "\e26d"
}

.hwsicon-service-hss:before {
  content: "\e26e"
}

.hwsicon-service-sas:before {
  content: "\e26f"
}

.hwsicon-service-dess:before {
  content: "\e270"
}

.hwsicon-service-cloudtable:before {
  content: "\e271"
}

.hwsicon-service-fgs:before {
  content: "\e272"
}

.hwsicon-service-hwebscan:before {
  content: "\e273"
}

.hwsicon-service-elasticsearch:before {
  content: "\e274"
}

.hwsicon-service-dls:before {
  content: "\e275"
}

.hwsicon-service-cse:before {
  content: "\e276"
}

.hwsicon-service-drs:before {
  content: "\e277"
}

.hwsicon-service-bill-icon:before {
  content: "\e278"
}

.hwsicon-service-dss:before {
  content: "\e279"
}

.hwsicon-service-apig:before {
  content: "\e27a"
}

.hwsicon-service-apm:before {
  content: "\e27b"
}

.hwsicon-service-swr:before {
  content: "\e27c"
}

.hwsicon-service-msgsms:before {
  content: "\e27d"
}

.hwsicon-service-plas:before {
  content: "\e27e"
}

.hwsicon-service-privatenumber:before {
  content: "\e27f"
}

.hwsicon-service-nat:before {
  content: "\e280"
}

.hwsicon-service-mpc:before {
  content: "\e281"
}

.hwsicon-service-CPTS:before {
  content: "\e282"
}

.hwsicon-service-ges:before {
  content: "\e283"
}

.hwsicon-service-aos:before {
  content: "\e284"
}

.hwsicon-service-CCI:before {
  content: "\e285"
}

.hwsicon-service-cce:before {
  content: "\e286"
}

.hwsicon-service-vod:before {
  content: "\e287"
}

.hwsicon-service-ccsms:before {
  content: "\e288"
}

.hwsicon-service-EcsSecurity:before {
  content: "\e289"
}

.hwsicon-service-eip:before {
  content: "\e28a"
}

.hwsicon-service-aom:before {
  content: "\e28b"
}

.hwsicon-service-ers:before {
  content: "\e28c"
}

.hwsicon-service-res:before {
  content: "\e28d"
}

.hwsicon-service-bcs:before {
  content: "\e28e"
}

#home-content {
  padding-left: 0;
  padding-right: 0
}

.modal {
  width: 750px
}

.home-head-info {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px
}

.margin-top-40 {
  margin-top: 40px
}

.home-user-head {
  width: 60px;
  height: 60px
}

#home-content .home-user-info {
  box-sizing: border-box;
  min-width: 1280px
}

.home-head-info .user-welcome {
  margin-left: 15px;
  max-width: 240px;
  margin-right: 25px
}

.home-head-info .user-balance-info {
  margin-left: 25px
}

.home-head-info .user-welcome-username {
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 45px
}

.home-user-info-account {
  height: 100px;
  margin-top: 42px;
  margin-left: 30px
}

.user-info-business-status-center:hover,.user-info-business-status-right:hover {
  margin-left: -1px
}

.home-user-info-account a {
  height: 36px;
  line-height: 36px;
  display: inline-block
}

.user-info-balance-label {
  font-size: 0
}

.user-info-balance-value {
  display: inline-block;
  overflow: hidden;
  padding-top: 4px
}

.user-info-balance-decimal {
  padding-top: 5px;
  font-size: 36px
}

.service-list-actions {
  margin-top: 20px;
  margin-right: 10px;
  height: 17px;
  width: 17px
}

.cloud-catalog-common {
  float: left;
  height: 25px;
  width: 25px;
  margin-right: 12px
}

.user-info-business-status-out {
  text-align: center;
  height: 80px;
  margin-top: -10px
}

.user-info-business-status-center:hover,.user-info-business-status-left:hover,.user-info-business-status-right:hover {
  border: 1px solid #e2e2e2;
  margin-right: -1px;
  margin-top: -1px
}

.user-info-business-status {
  padding: 4px 0 0 40px;
  text-align: center;
  display: inline-block;
  height: 100%
}

.user-info-business-status-line,.user-info-spe-line {
  height: 60px;
  display: inline-block
}

.user-info-business-status-out:hover .user-info-business-status-line {
  visibility: hidden
}

.user-info-business-status-line {
  border-left: 1px solid #e2e2e2;
  position: relative;
  margin-top: 10px
}

.action-icon-img-hover,.user-info-business-status:hover .action-icon .action-icon-img {
  display: none
}

.hwsicon-frame-home-application,.hwsicon-frame-home-businessOrder,.hwsicon-frame-home-order {
  font-size: 14px
}

.user-info-business-status:hover .action-icon .action-icon-img-hover {
  display: inline-block
}

.user-info-business-status .action-icon {
  float: left;
  margin-top: 35px;
  margin-right: 5px;
  display: inline-block
}

.user-info-business-status .action-content {
  float: left
}

.user-info-business-status .action-content .content-value {
  font-weight: 700;
  line-height: 25px
}

#home-content * {
  box-sizing: content-box;
  word-break: keep-all;
  word-wrap: break-word
}

.user-info-business-status .action-content .content-label {
  margin-top: 10px;
  display: inline-block
}

.item-content .service-content,.vertical-align-middle {
  display: table-cell;
  vertical-align: middle
}

.service-catalog-list {
  position: relative;
  margin: 0 20px 8px;
  padding: 15px 40px 15px 62px
}

.service-catalog-list .service-favorite-icon {
  position: absolute;
  right: 20px
}

.item-content .service-content {
  text-align: center
}

.box-item .action-list {
  height: 45px
}

.home-user-info-action {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px
}

.home-responsive-screen {
  line-height: normal;
  background: #f5f6f6;
  padding-top: 20px
}

.home-responsive-screen-content {
  width: 100%;
  max-width: none
}

.home-service-list {
  width: 31%;
  min-height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: top;
  display: inline-block
}

.home-service-list .service-list-nav-item {
  padding: 0 10px 20px
}

.service-list-nav-item legend.service-catalog {
  background: #fff;
  border-bottom: none;
  font-size: inherit;
  padding: 30px 0;
  cursor: pointer
}

.service-list-nav-item .common-content-title-service-catalog {
  padding-left: 30px
}

.service-list-nav-item .hwsicon-frame-image-action-down {
  margin-left: 6px;
  vertical-align: middle;
  display: inline-block
}

.service-list-nav-item .service-list-icon-down-rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-top: -3px
}

.service-name {
  display: block
}

.service-name .detail-link {
  white-space: nowrap;
  visibility: hidden;
  display: none
}

.service-list-nav-item ul {
  background: #fff;
  padding-bottom: 22px
}

.service-list-nav-item ul li:hover .detail-link {
  visibility: visible
}

.service-list-nav-item a [class^=hwsicon-service],[class*=" hwsicon-service"] {
  font-size: 32px;
  position: absolute;
  left: 10px;
  top: 18px;
  color: #666
}

.service-list-service-icon-svg {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 10px;
  top: 20px;
  color: #666
}

a .home-service-img {
  display: inline
}

.hwsicon-frame-image-detail {
  font-size: 15px;
  width: 16px
}

.hwsicon-frame-image-buy {
  font-size: 16px;
  width: 16px
}

.hwsicon-frame-image-active {
  font-size: 15px
}

a .home-service-img_hover {
  display: none
}

a:hover .home-service-img_hover {
  display: inline
}

a:hover .action_tips_common {
  display: block
}

.action_tips_title {
  position: absolute;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  height: 31px;
  line-height: 31px;
  text-align: center;
  z-index: 99999999;
  display: none
}

.action_tips_buy:before,.action_tips_closed:before,.action_tips_detail:before {
  bottom: -6px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-top: 6px solid grey;
  border-left: 6px solid transparent;
  content: '';
  position: absolute
}

.action_tips_buy:before {
  left: 16px
}

.action_tips_detail:before {
  left: 26px
}

.action_tips_closed:before {
  left: 20px
}

a:hover .action_tips_title {
  display: block
}

.action_tips_detail {
  top: -36px;
  left: -26px
}

.action_tips_buy {
  top: -45px;
  left: -15px
}

.action_tips_closed {
  top: -45px;
  left: -19px
}

.action_tips_common {
  position: absolute;
  top: -20px;
  display: none
}

.margin-top-10 {
  margin-top: 15px
}

.service-catalog-list-service {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 28px;
  height: 28px;
  display: none
}

.service-catalog-list-service-actions {
  display: inline-block;
  margin-top: 3px;
  margin-left: 6px;
  position: relative
}

.display-inline-block {
  display: inline-block
}

.quota-table-head tr th {
  padding-top: 0;
  padding-bottom: 0
}

.table tbody tr th {
  padding: 0 10px
}

.table th .quota-table-th-num,.table tr .quota-table-th-num {
  text-align: right;
  padding-right: 30px
}

.quota-tips-content {
  margin-bottom: 5px
}

.quota-table-out {
  margin-top: 20px;
  min-width: 700px
}

.quota-table-out .quota-table {
  width: 100%;
  display: inline-block
}

.margin-left-15 {
  margin-left: 15px
}

.action-border-line {
  display: inline;
  margin-left: 8px;
  margin-right: 8px;
  position: relative;
  top: -4px
}

.service-action-img {
  width: 16px;
  height: 16px
}

.home-user-info-account-balance {
  display: inline-block;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 51px
}

.home-user-info-account-bp {
  position: absolute;
  top: 148px;
  display: none
}

.bp-logo {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  top: 3px
}

.bp-enterprise-name {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px
}

.bp-enterprise-sep {
  display: inline-block;
  border-left: solid 1px #666;
  height: 10px
}

.bp-enterprise-desc {
  padding-left: 5px
}

.favorite-list,.waterfall-list {
  padding: 0 0 40px;
  list-style: none;
  min-height: 800px
}

.service-list-nav-item ul li .service-catalog-list-service a {
  color: #e8e8e8
}

.service-list-nav-item ul li:hover .service-catalog-list-service {
  display: block
}

.service-list-nav-item ul li:hover .service-catalog-list-service a {
  color: #666
}

.service-list-hide {
  display: none
}

.action_tips_title {
  color: #fff;
  background-color: grey
}

.service-list-nav-item ul li:hover {
  background-color: #f2f2f2;
  cursor: pointer
}

.quota-table-head {
  background-color: #ebebeb
}

.quota-table-tr {
  border-bottom: 1px solid #ebebeb
}

.quota-table-tr th {
  font-weight: 700
}

.waterfall-list {
  position: relative;
  line-height: 1.4285
}

.waterfall-list .waterfall-row {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden
}

.favorite-list {
  position: relative
}

.favorite-list .favorite-list-panel {
  margin: 0 10px;
  background: #fff;
  min-height: 195px;
  padding: 20px
}

.favorite-list .favorite-list-panel a {
  color: #333;
  text-decoration: none;
  display: inline-block
}

.favorite-list .favorite-list-panel ul {
  overflow: hidden
}

.favorite-list .favorite-list-panel li {
  display: inline-block;
  float: left;
  height: 60px;
  font-size: 14px;
  cursor: pointer
}

.favorite-list .favorite-list-panel li:hover {
  background: #f2f2f2
}

.favorite-list .favorite-list-panel .favorite-empty {
  text-align: center;
  padding: 60px;
  font-size: 16px
}

.home-submenu-bar {
  height: 64px;
  background: #fff;
  text-align: right;
  min-width: 1240px;
  max-width: 1820px;
  clear: both
}

.home-submenu-items {
  float: left;
  overflow: hidden;
  height: 64px;
  margin-left: 30px
}

.home-submenu-items li {
  float: left;
  margin-right: 60px;
  padding: 0 10px;
  height: 61px;
  line-height: 61px;
  border-bottom: 3px solid #fff;
  font-size: 16px;
  cursor: pointer;
  color: #666
}

.home-submenu-items li.curr {
  border-bottom-color: #39f;
  font-weight: 700
}

.home-submenu-items li:hover {
  color: #39f
}

.home-submenu-search-bar {
  font-size: 16px;
  line-height: 64px;
  height: 64px;
  position: relative;
  display: inline-block
}

.home-submenu-search-bar input {
  float: right;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 260px;
  padding: 0 30px 0 10px;
  margin: 16px 0;
  background: #fff;
  line-height: 30px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px
}

.home-submenu-search-bar .home-submenu-searchbtn,.home-submenu-search-bar .home-submenu-searchbtn-nohover {
  top: 18px;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  position: absolute;
  right: 0;
  text-decoration: none
}

.home-submenu-search-bar input::-webkit-input-placeholder {
  color: #999
}

.home-submenu-search-bar input:-moz-placeholder {
  color: #999
}

.home-submenu-search-bar input::-moz-placeholder {
  color: #999
}

.home-submenu-search-bar input:-ms-input-placeholder {
  color: #999
}

.home-submenu-search-bar input:focus {
  border-color: #70b7fe;
  color: #333
}

.home-submenu-search-bar .home-submenu-searchbtn {
  color: #666
}

.home-submenu-search-bar .home-submenu-search-bar:hover,.home-submenu-search-bar .home-submenu-searchbtn:hover {
  color: #39f
}

.home-submenu-search-bar .home-submenu-searchbtn-nohover {
  color: #666
}

.home-submenu-search-bar .search-list {
  position: absolute;
  z-index: 99999999;
  top: 48px;
  left: 0;
  text-align: left;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ddd;
  border-top-color: #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer
}

.home-submenu-search-bar .search-list a {
  line-height: 20px;
  color: #666;
  display: block;
  padding: 10px;
  text-decoration: none
}

.home-submenu-search-bar .search-list .search-selected,.home-submenu-search-bar .search-list a:hover {
  background: #f0f0f0
}

.home-submenu-search-bar .search-list .search-empty {
  display: block;
  line-height: 30px;
  padding: 0 10px;
  color: #999;
  font-size: 14px
}

.endpoint-instance-link::before {
  content: '(';
  color: #2b2b2b
}

.endpoint-instance-link::after {
  content: ')';
  color: #2b2b2b
}

.home-chart-container {
  width: 100%;
  min-width: 1240px;
  margin: 20px auto;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
  float: left
}

.home-chart-container .home-chart-wrap {
  padding: 20px;
  margin: 20px 0 20px 20px;
  float: left;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box!important;
  -moz-box-sizing: border-box!important;
  box-sizing: border-box!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  min-width: 224px;
  max-width: 360px;
  width: calc((100% - 120px)/ 5)
}

.home-chart-container .home-chart-wrap .chart-container {
  display: block;
  width: 100%;
  min-height: 260px
}

.console-home-banner-img {
  max-width: 180px;
  height: 32px;
  margin-left: 8px
}

.home-user-info-action .common-font-size-big1 {
  margin-right: 0;
  margin-left: 8px;
  height: 30px
}

.home-user-info-action .recharge-show-padding {
  height: 30px
}

.home-user-info-action .common-font-size-big1[ti-button]:focus,.home-user-info-action .common-font-size-big1[ti-button]:hover {
  background: rgba(255,255,255,1);
  animation: none;
  color: rgba(0,0,0,.8)
}

.home-user-info-action .common-font-size-big1[ti-button]:active {
  background: rgba(255,255,255,.8);
  animation: none;
  color: rgba(0,0,0,.8)
}

.fw-steps>ul {
  text-justify: inter-ideograph
}

.service-catalog-list-li,.service-name-ellipsis {
  height: 34px
}

.all-service-text-over-flow-hidden {
  max-width: calc(100% - 20px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.home-word-new-css {
  padding-left: 10px;
  float: left
}

.service-name-ellipsis .home-text-over-flow-hidden {
  max-width: calc(100% - 20px - 40px);
  float: left
}

.home-service-list-service-new-icon {
  margin-left: 10px;
  vertical-align: middle
}

.home-service-list-service-name-new-icon {
  display: table-cell
}

.home-service-list-service-name {
  padding: 0 2px
}

.endpoint-instance-inline-flex {
  display: inline-flex
}

.resource-endpoint-statistics-tip:before {
  color: #ff1522
}

.resource-endpoint-statistics-tip {
  font-size: 15px;
  top: -4px;
  position: relative
}

.resource-endpoint-statistics-tip-content-redNumber {
  color: red
}

.resource-endpoint-statistics-tip-content-orangeNumber {
  color: #F08438
}

body {
  background: #f5f6f6
}

.service-catalog-list-service .action-border-line {
  display: block
}

.common-home-top-area {
  background-color: #3e4254;
  border: none
}

.home-head-info {
  padding: 42px 0;
  background: 0 0
}

.home-user-head {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%
}

.user-welcome {
  color: #d2d5e6
}

.home-head-info .user-welcome-username {
  color: #fff
}

#home-content .home-user-info {
  display: block;
  height: 174px;
  margin-bottom: -32px;
  padding-left: 30px;
  padding-right: 30px
}

.user-info-spe-line {
  border: none
}

.user-info-balance-label {
  color: #d2d5e6
}

.home-user-info-action>.tiny-red-btn .tiny-btn-with-icon,.home-user-info-action>.tiny-red-btn .tiny-btn-without-icon {
  font-size: 14px
}

.home-user-info-action>.tiny-btn-without-icon {
  color: rgba(255,255,255,.8);
  border-color: rgba(255,255,255,.4);
  background: 0 0
}

.common-link-inherit-color-with-hover a:hover,.home-user-info-action>.tiny-btn-without-icon:hover {
  color: #fff
}

.balance-number-too-long {
  font-size: 37px;
  padding-top: 2px
}

.home-user-info-account-money-pre {
  padding-top: 15px
}

.user-info-business-status:hover {
  background-color: transparent
}

.user-info-business-status-center:hover,.user-info-business-status-left:hover,.user-info-business-status-line,.user-info-business-status-right:hover {
  border-color: transparent
}

.user-info-business-status-out {
  color: #d2d5e6
}

.user-info-business-status-out .content-value {
  font-size: 36px;
  color: #fff
}

.home-submenu-bar {
  padding: 0;
  margin: 0 30px
}

.home-submenu-search-bar {
  margin-right: 20px
}

.new-version-home-wrap {
  overflow: hidden
}

.new-version-home-wrap .home-content-main {
  width: 100%;
  word-break: break-all;
  float: left
}

.new-version-home-wrap .home-content-main .favorite-list,.new-version-home-wrap .home-content-main .waterfall-list {
  padding-right: 320px
}

.new-version-home-wrap .home-content-side {
  position: relative;
  float: left;
  width: 300px;
  margin-left: -310px;
  margin-top: -10px;
  box-sizing: border-box!important
}

#home-content .cloud-alarmInfo,#home-content .cloud-alarmInfo span,#home-content .cloud-pub *,#home-content .home-content-search-list,#home-content .home-user-info-black-bg *,#home-content .search-empty {
  box-sizing: border-box
}

.home-content-side .side-advertising-container {
  font-size: 14px;
  border-bottom: 1px solid rgba(151,151,151,.2)
}

.side-advertising-container .side-advertising-title {
  height: 80px;
  line-height: 80px;
  padding-left: 20px;
  position: relative
}

.side-advertising-container .side-advertising-title span {
  font-size: 20px;
  color: #333
}

.side-advertising-container .side-advertising-title .side-links {
  position: absolute;
  right: 0
}

.side-advertising-container .side-advertising-content {
  padding-left: 20px
}

.side-advertising-container .side-advertising-content ul {
  padding-bottom: 30px
}

.side-advertising-content .side-feature-wrap {
  height: 50px;
  overflow: hidden
}

.side-advertising-content .side-feature-ul li {
  margin-bottom: 30px
}

.side-advertising-content .side-feature-ul li:last-child {
  margin-bottom: 0
}

.side-advertising-content .side-feature-wrap img {
  float: left;
  margin-right: 18px
}

.side-advertising-content .side-feature-wrap .side-feature-right {
  float: left;
  width: 132px
}

.side-advertising-content .side-feature-wrap .side-feature-right a {
  color: #333
}

.side-advertising-content .side-feature-wrap .side-feature-right a:hover {
  color: #39f
}

.side-advertising-content .side-feature-wrap .side-feature-right span {
  color: #999
}

.side-advertising-container .side-href {
  display: block;
  line-height: 28px;
  color: #666;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all
}

.side-advertising-container .side-href:active,.side-advertising-container .side-href:hover {
  color: #39F;
  text-decoration: none
}

.side-advertising-container .side-href:link,.side-advertising-container .side-href:visited {
  text-decoration: none
}

.home-user-info-action .recharge-show-padding {
  margin-left: 65px
}

.bill-icon-show {
  cursor: pointer;
  color: #d2d5e6
}

.bill-icon-show:hover {
  color: #fff;
  text-decoration: none
}

.bill-icon-font {
  font-size: 16px
}

.bill-logo-show {
  display: none
}

.bill-logo-hide {
  display: block
}

a.user-application-common-no-outline {
  outline: 0
}

.user-balance-info .common-user-balance-account {
  display: inline-flex;
  font-family: icomoon,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“';
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
  position: relative;
  padding-left: 8px;
  padding-right: 20px
}

.resource-header>span:first-child,.user-balance-info .common-user-balance-account ul li {
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“'
}

.user-balance-info .common-user-balance-account-close::before {
  content: "\e63d";
  position: absolute;
  right: 0;
  top: 2px
}

.user-balance-info .common-user-balance-account-open::before {
  content: "\e63c";
  position: absolute;
  right: 0;
  top: 2px
}

.user-balance-info .common-user-balance-account-curr {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.user-balance-info .common-user-balance-account ul {
  display: none;
  position: absolute;
  z-index: 100000;
  top: 24px;
  left: 0;
  background: #fff;
  max-width: 300px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  min-width: 164px
}

.user-balance-info .common-user-balance-account ul.open {
  display: block
}

.user-balance-info .common-user-balance-account ul li {
  padding: 0 10px;
  font-size: 14px;
  line-height: 33px;
  color: #333;
  word-wrap: normal;
  white-space: nowrap
}

.user-balance-info .common-user-balance-account ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  font-family: 'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“'
}

.user-balance-info .common-user-balance-account ul li:hover {
  background: #F5F6F7;
  color: #39f
}

.user-balance-info .common-user-balance-account ul li:hover a {
  color: #39f
}

.side-advertising-title span {
  font-weight: 700
}

.border-bottom-none {
  border-bottom: none!important
}

.side-advertising-container .side-advertising-title-height {
  height: 64px;
  line-height: 64px
}

.home-user-info-black-bg .consump-details-button {
  margin-left: 8px
}

.home-user-info-black-bg .recharge-show-little-padding {
  margin-left: 0
}

#home-content .home-user-info-black-bg {
  background: #2E2E33;
  margin: 0;
  height: 120px
}

.home-user-info-black-bg>.home-head-info-black-bg {
  padding-top: 30px;
  padding-bottom: 30px;
  height: initial
}

.home-user-info-black-bg .user-welcome-black-bg {
  margin-left: 20px;
  margin-right: 0
}

.home-user-info-black-bg .common-font-size-big1-black-bg {
  font-size: 16px
}

.home-user-info-black-bg .common-font-size-big5-black-bg {
  font-size: 24px;
  line-height: 28px;
  margin-top: 10px
}

.home-user-info-black-bg .user-balance-info-black-bg {
  margin-left: 60px
}

.home-user-info-black-bg .user-balance-info-black-bg .common-user-balance-account {
  padding-left: 0;
  padding-right: 14px
}

.home-user-info-black-bg .home-user-info-account-balance-black-bg {
  height: auto;
  margin-top: 10px
}

.home-user-info-black-bg .home-user-info-account-balance-black-bg>.user-info-balance-value-black-bg {
  font-size: 30px;
  line-height: 30px
}

.home-user-info-black-bg .user-balance-info-block {
  margin-left: 25px;
  padding-top: 28px;
  margin-top: 0
}

.home-user-info-black-bg .user-balance-info-block>button {
  height: auto
}

.home-user-info-black-bg .action-content-black-bg {
  float: none
}

.home-user-info-black-bg .content-label-black-bg,.home-user-info-black-bg .content-value-black-bg {
  line-height: 1
}

.home-user-info-black-bg .user-info-business-status-black-bg {
  padding-top: 0;
  margin: -4px 0 0;
  padding-left: 50px;
  border: none
}

.home-user-info-black-bg .user-info-business-status-line {
  display: none
}

.home-user-info-black-bg .user-info-business-status-out-black-bg {
  margin: 0;
  height: auto
}

.icon-expiring,.icon-expiring-soon {
  width: 16px;
  height: 16px;
  vertical-align: text-top;
  display: inline-block
}

.home-user-info-black-bg .user-balance-info .common-user-balance-account ul {
  top: 29px
}

.title-font {
  font-weight: 700;
  color: #333
}

.rotate90deg {
  transform: rotate(90deg);
  display: inline-block
}

.icon-expiring-soon {
  background: url("theme/default/images/home/expiring-soon.svg?ttf=271939911") no-repeat
}

.icon-expiring {
  background: url("theme/default/images/home/expired.svg?ttf=271939911") no-repeat
}

.home-content-service-list {
  margin-right: 20px;
  background-color: #fff;
  padding: 30px
}

.home-content-all-service-title {
  font-size: 20px;
  color: #333;
  line-height: 20px
}

.home-content-all-service-title-span {
  cursor: pointer
}

.home-content-all-service-title-span>span {
  font-size: 16px;
  margin-left: 10px;
  color: #666;
  display: inline-block
}

.home-content-all-service-title-span>.hwsicon-frame-image-action-up {
  font-size: 14px
}

.home-content-service-search-wrap {
  width: 100%;
  margin-top: 25px
}

.home-content-service-search {
  width: 100%;
  position: relative
}

#home-content .home-content-service-search>.home-content-service-search-input {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 4px;
  color: #333;
  position: relative;
  z-index: 101
}

#home-content .home-content-service-search>.home-content-service-search-input:focus {
  border-color: #999
}

#home-content .service-name-ellipsis {
  margin-right: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.home-content-service-search-btn {
  height: 40px;
  width: 36px;
  line-height: 40px;
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
  z-index: 200
}

.home-content-search-list {
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding-top: 4px;
  cursor: pointer
}

.home-content-search-list>a {
  padding: 10px 20px;
  text-decoration: none;
  display: block
}

.home-content-search-list>.search-selected {
  background-color: #f0f0f0
}

.search-empty {
  font-size: 14px;
  padding: 5px 20px;
  color: #999;
  line-height: 30px;
  display: inline-block;
  width: 100%
}

.collapse-content-wrap {
  padding: 0
}

.home-content-service-collapse {
  margin-top: 25px
}

.home-content-service-collapse .home-service-list {
  padding-top: 10px
}

.home-content-service-collapse>.ti-collapse-panel {
  background-color: #fff;
  border: none
}

.home-content-service-collapse-waterfall {
  position: relative;
  width: 100%
}

.home-service-list .service-list-nav-item-no-icon {
  padding: 0 20px 0 0
}

.service-list-nav-item>.service-title {
  padding: 0 10px;
  border: none;
  font-size: 16px;
  line-height: 34px
}

.service-list-nav-item>.service-title>.service-title-point {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  vertical-align: middle;
  background: #39f;
  margin-right: 5px
}

.service-list-nav-item .service-catalog-list-li {
  padding: 0 10px;
  line-height: 34px;
  font-size: 14px;
  color: #666;
  position: relative
}

.service-catalog-list-li>.service-icon-wrap {
  display: none;
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%
}

.service-catalog-list-li:hover>.service-icon-wrap {
  display: block
}

.service-catalog-list-li>.service-icon-wrap a {
  margin: 0
}

.icon-home-service-action-add {
  font-family: cloudFont;
  font-size: 16px;
  font-weight: 700;
  color: #777
}

.icon-home-service-action-add:before {
  content: '\e945'
}

.home-content-recent-service {
  margin-top: 30px;
  width: 100%
}

.home-content-recent-service-title {
  color: #333;
  font-size: 16px
}

.home-content-recent-service-list {
  margin-left: 127px;
  line-height: 25px
}

.html-font-family-en-us .home-content-recent-service-list {
  margin-left: 197px
}

.home-content-recent-service-list>.home-content-recent-service-list-service {
  display: inline-block;
  padding: 0 15px;
  font-size: 14px;
  color: #666;
  cursor: pointer
}

.home-content-recent-service-list>.home-content-recent-service-list-service:hover {
  color: #39f
}

.cloud-pub {
  margin-top: 20px;
  margin-right: 20px;
  min-width: 900px
}

.cloud-pub>.cloud-monitor {
  background-color: #fff;
  height: 250px;
  width: calc((100% - 20px) * .67);
  max-width: calc(100% - 350px);
  float: left;
  padding: 30px
}

.html-font-family-en-us .cloud-pub>.cloud-monitor {
  max-width: calc(100% - 430px)
}

.cloud-alarm {
  width: 48%;
  float: left
}

.cloud-alarm-title {
  margin-bottom: 30px;
  height: 20px;
  line-height: 20px
}

.cloud-title {
  font-size: 20px;
  margin-right: 5px
}

.cloud-regionName {
  font-size: 12px;
  color: #999;
  line-height: 20px
}

#home-content .cloud-fontsize16 {
  font-size: 16px;
  color: #666
}

#home-content .cloud-alarmInfo {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  padding: 0 20px;
  font-size: 14px;
  border-radius: 2px;
  background-color: #f4f5f6;
  cursor: pointer
}

#home-content .cloud-alarmInfo span {
  display: inline-block;
  max-width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #333
}

#home-content .warning-cloud-alarmInfo {
  background-color: #FB6767
}

#home-content .warning-cloud-alarmInfo span {
  color: #fff
}

#home-content .cloud-alarmInfo>a {
  min-width: 50px;
  max-width: 120px;
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  font-weight: 700
}

#home-content .warning-cloud-alarmInfo>.alarm-warning {
  color: #fff
}

#home-content .cloud-alarmInfo:hover {
  background: rgba(51,153,255,.15)
}

#home-content .cloud-alarmInfo:hover>a,#home-content .cloud-alarmInfo:hover>span {
  color: #333
}

#home-content .cloud-service {
  margin-top: 10px
}

#home-content .cloud-service>div {
  font-size: 14px;
  color: #666
}

#home-content .cloud-service .ecs-target-wrap {
  height: 40px;
  margin-top: 10px
}

.ecs-target-cpu-value {
  color: #35C29C;
  font-weight: 700
}

.ecs-target-wrap>.target-label,.ecs-target-wrap>.target-value {
  margin-top: 15px;
  background-color: #fff
}

.ecs-target-wrap>.target-label {
  color: #666
}

.ecs-target-wrap>.target-value {
  padding-left: 28px;
  color: #333;
  font-weight: 700
}

.ecs-target-wrap>.label-disk {
  padding-right: 35px
}

.ecs-target-wrap>.label-network {
  padding-right: 31px
}

.ecs-target-wrap>.line-wrap {
  width: 100%;
  height: 40px;
  padding-top: 25px
}

.ecs-target-wrap>.line-wrap>.line {
  height: 0;
  border-bottom: 1px dashed #ccc
}

.cloud-pub>.cloud-host-safety {
  background-color: #fff;
  height: 250px;
  float: right;
  width: calc((100% - 20px) * .33);
  min-width: 330px;
  padding: 30px 20px 0 30px
}

.html-font-family-en-us .cloud-pub>.cloud-host-safety {
  min-width: 410px
}

.cloud-ecs-ccontent {
  padding: 0
}

.cloud-securityImg {
  width: 85px;
  height: 123px;
  text-align: center;
  padding-top: 20px
}

.cloud-security {
  width: calc(100% - 120px);
  min-width: 180px;
  margin-left: 15px
}

.html-font-family-en-us .cloud-security {
  min-width: 260px
}

.cloud-security>div {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 40px;
  color: #666;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer
}

.cloud-security>div:hover {
  background: rgba(51,153,255,.15)
}

.cloud-security .cloud-security-value {
  min-width: 50px;
  max-width: 90px;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 700
}

.cloud-security .cloud-security-warning-value {
  color: #eb0029
}

.cloud-monitor-no-data {
  text-align: center;
  vertical-align: middle;
  line-height: 116px
}

.cloud-ecs-region-not {
  text-align: center;
  padding-top: 48px;
  font-size: 14px;
  color: #666
}

.cloud-ecs-project-not {
  text-align: center;
  font-size: 14px;
  color: #666;
  height: 170px
}

.cloud-ecs-project-not>.cloud-ecs-project-not-text {
  display: inline-block;
  margin-top: 40px
}

.cloud-ecs-project-not>.cloud-ecs-project-not-link {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer
}

#home-content .my-resource a:hover {
  text-decoration: none
}

.my-resource {
  margin-top: 20px;
  padding: 30px 30px 20px;
  background: #fff;
  margin-right: 20px
}

.my-resource>.my-resource-title {
  font-size: 20px;
  color: #333;
  line-height: 20px
}

.my-resource>.my-resource-title>.title {
  font-weight: 700
}

.my-resource>.my-resource-list {
  margin-bottom: 30px
}

.my-resource>.my-resource-list>.resource {
  margin-top: 30px;
  line-height: 19px;
  min-width: 210px;
  width: 20%
}

.resource>.resource-link {
  cursor: pointer
}

.resource>.resource-link>.resource-name {
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: text-bottom;
  max-width: 90%
}

.resource>.resource-link>.resource-count {
  font-size: 14px;
  color: #999
}

.resource>.resource-link:hover>span {
  color: #39f
}

.my-resource>.view-more-resource>a {
  display: block;
  background: #F4F5F6;
  line-height: 40px;
  text-align: center;
  color: #666;
  cursor: pointer
}

.my-resource>.view-more-resource:hover>a {
  background: rgba(51,153,255,.15)
}

.my-resource>.view-more-resource .view-more-text {
  vertical-align: middle
}

.my-resource>.view-more-resource .view-more-icon {
  margin-left: 8px;
  vertical-align: middle;
  font-weight: 700;
  color: #77787b;
  font-size: 12px
}

#home-content .cloud-pub a:hover {
  text-decoration: none
}

.html-font-family-en-us .new-version-home-wrap .home-content-main .waterfall-list {
  padding-right: 0
}

.html-font-family-en-us .cloud-pub,.html-font-family-en-us .home-content-service-list,.html-font-family-en-us .my-resource {
  margin-right: 0
}

@media screen and (max-width:1280px) {
  .html-font-family-zh-cn .cloud-pub>.cloud-monitor {
    width: 100%;
    max-width: 100%
  }

  .html-font-family-zh-cn .cloud-pub>.cloud-host-safety {
    width: 100%;
    margin-top: 20px;
    height: 205px
  }

  .customization-right-content .cloud-pub>.cloud-host-safety {
    width: 410px;
    margin-top: 0;
    height: 250px
  }

  .customization-right-content .cloud-security>div>a {
    display: block;
    float: right!important;
    width: 100%;
    max-width: 100%;
    line-height: 19px;
    margin-top: -19px!important;
    text-align: right!important
  }

  .customization-right-content .cloud-security>div {
    width: 260px!important;
    margin-left: 0!important
  }

  .cloud-security>div .html-font-family-zh-cn .cloud-ecs-ccontent {
    padding: 0
  }

  .html-font-family-zh-cn .cloud-security {
    width: calc(100% - 105px);
    margin-left: 0
  }

  .html-font-family-zh-cn .cloud-security>div {
    display: inline-block;
    margin-left: 20px;
    width: 190px;
    padding-top: 12px;
    padding-bottom: 13px
  }

  .html-font-family-zh-cn .cloud-security>div>span {
    display: block;
    line-height: 19px
  }

  .html-font-family-zh-cn .cloud-security>div>a {
    display: block;
    float: none!important;
    width: 100%;
    max-width: 100%;
    line-height: 21px;
    margin-top: 6px;
    text-align: left
  }

  .html-font-family-zh-cn .cloud-ecs-project-not {
    height: 120px
  }

  .html-font-family-zh-cn .cloud-ecs-project-not>.cloud-ecs-project-not-text {
    margin-top: 20px
  }

  .html-font-family-zh-cn .my-resource>.my-resource-list>.resource {
    width: 33.33%
  }

  .html-font-family-zh-cn .cloud-ecs-region-not {
    padding-top: 28px
  }

  .html-font-family-zh-cn .cloud-securityImg {
    padding: 0
  }

  .home-user-info-black-bg .balance-number-too-long {
    font-size: 24px
  }

  .home-user-info-black-bg .content-label-overflow-black-bg .content-label-black-bg {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .home-user-info-black-bg .content-label-overflow-black-bg .user-info-business-status-black-bg {
    padding-left: 20px
  }
}

@media screen and (min-width:1281px) and (max-width:1680px) {
  .html-font-family-zh-cn .my-resource>.my-resource-list>.resource {
    width: 25%
  }
}

.hwsicon-service-EcsSecurity {
  font-size: 105px;
  display: inline-block;
  margin-top: -7px;
  margin-left: -10px;
  color: #35c29c
}

.ecs-security-warning {
  color: #ff4c4c
}

.alliance-user-resource-instance {
  margin-top: 20px;
  padding: 30px 30px 20px;
  background: #fff;
  margin-right: 20px
}

.html-font-family-en-us .alliance-user-resource-instance {
  margin-right: 0
}

.alliance-resource-over-view-title {
  font-weight: 700;
  font-size: 20px;
  color: #333;
  font-family: Roboto,'Microsoft YaHei'
}

a.alliance-abroad-resource-label,a.alliance-home-resource-label {
  outline: 0;
  text-decoration: none;
  margin-left: 30px;
  font-size: 14px;
  color: #39F;
  font-family: Roboto,"Microsoft YaHei";
  cursor: pointer
}

.cloud-alliance-service-resource {
  position: relative;
  padding: 15px 0 15px 60px
}

.cloud-alliance-service-resource .cloud-alliance-service-icon {
  position: absolute;
  margin-right: 10px;
  left: 0;
  font-size: 48px
}

.cloud-alliance-service-resource-list-en-us {
  width: 240px;
  display: inline-block;
  line-height: 60px;
  height: 60px
}

.cloud-alliance-service-resource-list-zh-cn {
  width: 220px;
  display: inline-block;
  line-height: 60px;
  height: 60px
}

.cloud-alliance-service-resource-service-name-en-us {
  max-width: 180px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.cloud-alliance-service-resource-service-name-zh-cn {
  max-width: 160px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.cloud-alliance-service-resource-service-instance {
  width: 44px;
  line-height: 60px;
  color: #999;
  font-size: 14px;
  padding-left: 5px;
  height: 60px
}

#home-resource * {
  box-sizing: content-box;
  word-break: keep-all;
  word-wrap: break-word
}

#home-resource {
  padding-left: 0;
  padding-right: 0
}

.resource-header {
  padding: 23px calc((100% - 1260px)/ 2)
}

.resource-header>span:first-child {
  font-size: 24px;
  color: #333;
  line-height: 24px
}

#home-resource .resource-header>div.title-tip,#home-resource .resource-header>span.region {
  color: #999;
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“'
}

#home-resource .resource-header>span.region {
  font-size: 12px;
  line-height: 20px
}

#home-resource .resource-header>div.title-tip {
  font-size: 14px;
  padding-top: 10px
}

#home-resource>.common-content-screen {
  padding: 0 calc((100% - 1280px)/ 2)
}

#home-resource .home-service-list .service-list-nav-item {
  padding: 0 10px 20px
}

#home-resource .service-list-nav-item .resource-service-list-service-icon {
  font-size: 40px;
  left: 40px;
  top: 21px;
  color: #666
}

#home-resource .service-list-nav-item .resource-service-list-service-icon-svg {
  font-size: 40px;
  left: 40px;
  top: 21px;
  color: #666;
  width: 40px;
  height: 40px;
  position: absolute
}

#home-resource .service-list-nav-item>legend.service-catalog:hover .common-content-title-service-catalog,#home-resource .service-list-nav-item>legend.service-catalog:hover .hwsicon-frame-image-action,#home-resource .service-list-nav-item>legend.service-catalog:hover .hwsicon-frame-image-action-down,#home-resource .service-list-nav-item>legend.service-catalog:hover .service-list-service-icon,#home-resource .service-list-nav-item>legend.service-catalog:hover .totalInstanceNum {
  color: #39F
}

#home-resource .service-list-nav-item .common-content-title-service-catalog {
  padding-left: 85px;
  font-size: 16px;
  color: #333;
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“'
}

#home-resource .totalInstanceNum {
  position: absolute;
  right: 50px;
  font-size: 20px;
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“';
  color: #666;
  top: 27px
}

#home-resource .service-list-nav-item .icon-cloud-action-fold,#home-resource .service-list-nav-item .icon-cloud-action-unfold {
  position: absolute;
  right: 25px;
  top: 32px;
  color: #666;
  font-size: 16px
}

#home-resource .service-catalog-list {
  margin: 0;
  padding: 0 20px
}

#home-resource .service-catalog-list:hover {
  background: #fff;
  cursor: default
}

#home-resource .service-catalog-list>.region-info {
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“';
  font-size: 14px;
  color: #666
}

#home-resource .service-catalog-list>.region-info:hover {
  color: #39F;
  background: #F5F6F7;
  cursor: pointer
}

#home-resource .service-catalog-list>.region-info:active {
  color: #FFF;
  background: #39F
}

#home-resource .service-catalog-list .region-instance-num {
  float: right;
  font-family: Roboto,'å¾®è½¯é›…é»‘ Regular','å¾®è½¯é›…é»‘','å®‹ä½“'
}

.globalResourceTip {
  position: absolute;
  display: none;
  top: 59px;
  left: 97px;
  background-color: #fff;
  color: #666;
  box-shadow: rgba(0,0,0,.15) 0 2px 5px;
  box-sizing: border-box;
  z-index: 5000;
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px;
  padding: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #eee;
  border-image: initial;
  border-radius: 2px
}

.globalResourceTip:after,.globalResourceTip:before {
  display: block;
  position: absolute;
  height: 10px;
  left: 10%;
  background: #fff;
  content: '';
  overflow: hidden
}

.globalResourceTip:before {
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  width: 10px;
  margin-left: -5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
  box-shadow: -1px -1px 5px rgba(0,0,0,.15)
}

.globalResourceTip:after {
  width: 20px;
  margin-left: -10px;
  top: 0
}

#home-resource .service-list-nav-item .resource-endpoint-name-word-wrap {
  max-width: 228px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.new-function-guide-page {
  width: 500px;
  height: 60px;
  line-height: 50px;
  text-align: center
}

.new-function-guide-img-page {
  width: 230px;
  height: 230px;
  margin-bottom: 20px
}

.customization-right-content .cloud-pub>.cloud-monitor {
  max-width: calc(100% - 430px)
}

.customization-right-content .cloud-pub>.cloud-host-safety {
  min-width: 410px
}

.customization-right-content .cloud-security {
  min-width: 260px
}

.customization-right-content .alliance-user-resource-instance,.customization-right-content .cloud-pub,.customization-right-content .home-content-service-list,.customization-right-content .my-resource {
  margin-right: 0
}

.new-version-home-wrap .customization-right-content .waterfall-list {
  padding-right: 0
}

.my-resource-custom {
  cursor: pointer;
  margin-top: -20px
}

.resource-modal-main {
  width: 1200px;
  margin: 112px auto 0;
  height: 650px
}

.resource-modal-header {
  height: 54px;
  text-align: right
}

.resource-modal-header .resource-modal-title {
  font-size: 20px;
  float: left
}

.resource-modal-header .resource-modal-title .favorite-tips {
  padding: 0 10px;
  font-size: 14px;
  color: #666;
  line-height: 24px;
  font-weight: 400
}

.resource-modal-header .resource-modal-title .favorite-count {
  color: #39f
}

.resource-modal-header .resource-modal-title .favorite-overcount {
  color: red
}

.resource-modal-header .resource-modal-close {
  float: right;
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 16px;
  width: 16px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  margin-top: -10px
}

.resource-modal-header .resource-modal-close:hover::after,.resource-modal-header .resource-modal-close:hover::before {
  background: red
}

.resource-modal-header .resource-modal-close::after,.resource-modal-header .resource-modal-close::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  background: #777
}

.resource-modal-header .resource-modal-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.resource-modal-header .resource-modal-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)
}

.resource-modal-content-list .console-topbar-nav-item-title {
  font-size: 14px;
  color: #333;
  line-height: 22px;
  margin-bottom: 14px;
  border-bottom: none;
  padding-left: 10px;
  font-weight: 700
}

.resource-modal-content-list .console-menu-nav-item {
  width: 177px;
  margin-bottom: 20px;
  display: inline-block;
  float: left
}

.resource-modal-content-list .resource-modal-catalog:nth-child(4n-3) {
  clear: inherit
}

.resource-modal-content-list .dropdown-menu-list-text,.resource-modal-content-list .dropdown-menu-list-text-favorite {
  font-size: 12px;
  color: #666;
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  height: 24px;
  vertical-align: middle;
  line-height: 22px;
  margin-bottom: 6px;
  border: 1px solid transparent;
  text-decoration: none
}

.resource-modal-content-list .dropdown-menu-list-text:hover {
  background: #F5F6F7
}

.resource-modal-content-list .dropdown-menu-list-text-favorite {
  border: 1px solid rgba(51,153,255,.5);
  color: #39f
}

.resource-modal-body {
  margin: 20px 0 0 245px;
  padding: 0;
  max-height: 570px!important;
  height: 570px
}

.resource-modal {
  height: 650px
}

.waterfall-row {
  position: absolute
}

.resource-modal-add {
  width: 217px;
  position: absolute;
  left: 10px;
  top: 83px;
  height: 548px;
  background: #F7F8F8;
  padding-top: 15px
}

.resource-modal-text {
  font-size: 14px;
  color: #333;
  font-weight: 700
}

.resource-modal-label {
  font-size: 12px;
  color: #999
}

.resource-modal-text-box {
  padding: 0 0 0 20px
}

.resource-modal-service-list {
  padding: 20px 0 0 10px
}

.resource-modal-add-item li {
  display: block;
  line-height: 32px;
  height: 32px;
  font-size: 12px;
  color: #333;
  border: 1px dashed #F7F8F8;
  padding: 0 10px;
  position: relative;
  width: 197px;
  cursor: move
}

.resource-modal-add-item li:hover {
  text-decoration: none;
  border: 1px dashed #39F;
  background: #F5FAFF;
  color: #39F;
  height: 32px;
  line-height: 32px
}

.resource-modal-add-item li:hover .resource-modal-service-close {
  display: block
}

.resource-modal-content {
  padding-bottom: 20px
}

.resource-modal-content-list .resource-modal-catalog:nth-child(-n+5) .console-menu-nav-item {
  margin-top: 0
}

.resource-modal-service-close {
  display: none;
  cursor: pointer;
  top: 0;
  right: 10px;
  position: absolute;
  font-size: 16px;
  color: #39F
}

.resource-modal-add-item li .console-menu-favorite-item-text {
  width: 156px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block
}

.dropdown-menu-list-text-favorite {
  border: 1px solid rgba(51,153,255,.5);
  color: #39f
}

.sortable-ghost .resource-modal-sortable {
  display: block
}

.resource-modal-title span:first-child {
  font-weight: 700
}

.my-resource-custom {
  color: #777
}

.my-resource-custom:hover {
  color: #39f
}

.resource-modal-button {
  background: #F7F8F8;
  border: 1px solid #F7F8F8
}

.resource-modal-service-list {
  height: 82%
}

.resource-modal-tooltip {
  width: 227px;
  left: 11px;
  top: 98px;
  display: none;
  position: absolute;
  background-color: #fff;
  color: #666;
  padding: 9px;
  border: 1px solid #eee;
  box-shadow: 0 2px 5px rgba(0,0,0,.15);
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 5000;
  white-space: normal;
  word-wrap: break-word;
  font-size: 14px
}

.resource-modal-tooltip::before {
  left: 9px;
  display: block;
  position: absolute;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  content: '';
  width: 10px;
  height: 10px;
  right: 9px;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
  background: #fff;
  box-shadow: -1px -1px 5px rgba(0,0,0,.15)
}

.resource-modal-tooltip-bottom-right {
  position: absolute;
  width: 100%;
  height: 14px;
  left: 0;
  background-color: transparent;
  box-sizing: border-box;
  bottom: 100%
}

.resource-modal-content-line {
  height: 207px;
  width: 1px;
  background: #fff
}

.resource-modal-flag-en-us .resource-modal-add {
  width: 234px
}

.resource-modal-flag-en-us .resource-modal-add-item li .console-menu-favorite-item-text {
  width: 161px
}

.resource-modal-flag-en-us .resource-modal-content-list .console-menu-nav-item {
  width: 219px
}

.resource-modal-flag-en-us .resource-modal-body {
  margin: 20px 0 0 262px
}

.resource-modal-flag-en-us .resource-modal-add-item li {
  width: 201px
}

.resource-modal-flag-en-us .resource-modal-text-box .resource-modal-label {
  display: block
}

.resource-modal-flag-en-us .resource-modal-content-list .resource-modal-catalog:nth-child(-n+4) .console-menu-nav-item {
  margin-top: 0
}

.html-font-family-en-us .home-dropdown-reourseTip {
  width: 257px!important
}

@media screen and (max-width:1367px) {
  .resource-modal-main {
    margin: 95px auto 0
  }
}