<div class="login-info">
	<span>
		<a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
			{{ content.user_picture }}
			<span>
				{{ content.name }}
			</span>
			<i class="fa fa-angle-down"></i>
		</a>
	</span>
</div>