<li class="header-user user-info msg">
  <div class="header-user-avator">
    <img class="header-tool-user-avator-img account-pic" src="//static.huaweicloud.com/static/v2_resources/images/global/headPic.png?sttl=20180413&amp;sttl=20185176">
  </div>
  <div class="header-user-name"><span class="my-acct">for0231</span><i class="header-icon-corner-down"></i></div>
  <div class="header-user-info user-info-layer">
    <ul class="header-user-info-list account-nav">
      <li class="header-user-info-item-account account-item">
        <a href="//account.huaweicloud.com/usercenter/#/userindex/accountInfo">账号中心</a>
        <a class="account-verification header-verification active" href="//account.huaweicloud.com/usercenter/#/userindex/realNameAuth">
          <i class="header-icon header-icon-verification"></i>
          <p class="state-unactive">未实名认证</p>
          <p class="state-active">已实名认证</p>
        </a>
      </li>
      <li><a href="//account.huaweicloud.com/usercenter/?locale=zh-cn#/userindex/allview">费用中心</a></li>
      <li><a href="//console.huaweicloud.com/ticket/?locale=zh-cn#/ticketindex/serviceTickets">工单管理</a></li>
      <li class="message"><a href="//console.huaweicloud.com/mc/">未读消息<span>0</span></a></li>
      <li class="header-user-info-split"></li>
      <li class="isVendor" style="display:none;"><a href="//account.huaweicloud.com/obmgr/#/obmgr/index">伙伴中心</a></li>
      <li class="isIsv" style="display:none;"><a href="//console.huaweicloud.com/marketplace/isv/#/console/business">卖家中心</a></li>
      <li class="header-user-info-split isVendor isIsv" style="display:none;"></li>
      <li class="logout"><a href="//portal.huaweicloud.com/index/logout">退出</a></li>
    </ul>
  </div>
</li>