<div class="footer-service" meta-data-adjust-app="hide">
  <div class="footer-wrapper footer-service-wrapper">
    <ul>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-01" bi_name="7*24" target="_blank">
          <i class="footer-icon-support"></i>
          <h2>7*24</h2>
          <p>多渠道服务支持</p>
        </a>
      </li>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-02" bi_name="5day" target="_blank">
          <i class="footer-icon-unsub"></i>
          <h2>5天</h2>
          <p>内无理由退订</p>
        </a>
      </li>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-03" bi_name="record" target="_blank">
          <i class="footer-icon-record"></i>
          <h2>0元</h2>
          <p>免费备案</p>
        </a>
      </li>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-04" bi_name="peichang" target="_blank">
          <i class="footer-icon-pay"></i>
          <h2>赔偿</h2>
          <p>100倍故障赔偿</p>
        </a>
      </li>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-05" bi_name="feedBack" target="_blank">
          <i class="footer-icon-feedback"></i>
          <h2>意见</h2>
          <p>反馈与投诉建议</p>
        </a>
      </li>
      <li>
        <a href="https://www.huaweicloud.com/about/protection.html#service-support-06" bi_name="vip" target="_blank">
          <i class="footer-icon-vip"></i>
          <h2>VIP</h2>
          <p>专享服务</p>
        </a>
      </li>
    </ul>
  </div>
</div>