<div class="footer-nav" meta-data-adjust-app="hide">
  <div class="footer-wrapper">
    <div class="footer-nav-menus">
      <dl bi_parent_name="产品支持">
        <dt>产品与支持</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/product/" target="_blank" rel="nofollow">产品</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/solution/" target="_blank" rel="nofollow">解决方案</a></dd>
        <dd><a class="footer-link" href="//app.huaweicloud.com" target="_blank" rel="nofollow">云市场</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com" target="_blank" rel="nofollow">开发者中心</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/consultation" target="_blank" rel="nofollow">售前咨询</a></dd>
        <dd><a class="footer-link" href="//support.huaweicloud.com" target="_blank" rel="nofollow">帮助中心</a></dd>
        <dd><a class="footer-link" href="//portal.huaweicloud.com/feedback" target="_blank" rel="nofollow">意见反馈</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/contact.html" target="_blank" rel="nofollow">联系我们</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/VIP_client.html" target="_blank" rel="nofollow">支持与服务计划</a></dd>
      </dl>
      <dl bi_parent_name="账号与支付">
        <dt>账号与支付</dt>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow">充值/付款</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn&amp;agencyId=1ed3f1041585452bb4770842b2d1dbb8&amp;region=cn-north-1#/userindex/contractApply" target="_blank" rel="nofollow">合同申请</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow">线下汇款/电汇</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/invoiceCenter" target="_blank" rel="nofollow">索取发票</a></dd>
      </dl>
      <dl bi_parent_name="快速链接">
        <dt>快速链接</dt>
        <dd><a class="footer-link" href="//portal.huaweicloud.com/pricing" target="_blank" rel="nofollow">价格计算器</a></dd>
        <dd><a class="footer-link" href="https://console.huaweicloud.com/console/?region=cn-east-2&amp;locale=zh-cn#/home" target="_blank" rel="nofollow">管理控制台</a></dd>
        <dd><a class="footer-link" href="//support.huaweicloud.com/beian_index.html" target="_blank" rel="nofollow">备案中心</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn#/userindex/allview" target="_blank" rel="nofollow">费用中心</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?agencyId=ef87414dfee34e5e84679275504170a9&amp;region=cn-east-2&amp;locale=zh-cn#/accountindex/accountInfo" target="_blank" rel="nofollow">账号中心</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com/dsource/" target="_blank" rel="nofollow">华为云图标库</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com/axurelib/" target="_blank">华为云Axure组件库</a></dd>
      </dl>
      <dl bi_parent_name="关于华为云">
        <dt>关于华为云</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/index.html" target="_blank" rel="nofollow">了解华为云</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/about_us.html" target="_blank" rel="nofollow">华为云简介</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/cases/cases_1.html" target="_blank" rel="nofollow">客户案例</a></dd>
        <dd class="split-line"></dd>
        <dt>信任中心</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/overallsafety.html" target="_blank" rel="nofollow">华为云安全</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/safetycompliance.html" target="_blank" rel="nofollow">安全合规</a></dd>
      </dl>

      <div class="footer-nav-other-link" bi_parent_name="其他链接">
        <span>其他链接</span>
        <a class="footer-link" href="//www.huawei.com/cn/?ic_medium=direct&amp;ic_source=surlent" target="_blank" rel="nofollow">华为官网</a>
        <a class="footer-link" href="//developer.huawei.com/ict/cn" target="_blank" rel="nofollow">华为开发者中心</a>
        <a class="footer-link" href="//developer.huawei.com/cn/consumer" target="_blank" rel="nofollow">华为开发者联盟</a>
        <a class="footer-link" href="//e.huawei.com/cn/" target="_blank" rel="nofollow">华为企业业务</a>
        <a class="footer-link" href="//www.vmall.com/#cid=92120" target="_blank" rel="nofollow">华为商城</a>
        <a class="footer-link" href="//career.huawei.com/reccampportal/#campus4/content.html" target="_blank" rel="nofollow">华为招聘</a>
      </div>
    </div>
    <div class="footer-nav-submenus">
      <div class="footer-nav-submenus-inner">
        <div class="footer-nav-contact">
          <div class="footer-nav-contact-phone">
            <h1>上云服务热线</h1>
            <p>4000 955 988</p>
            <ul>
              <li><a href="mailto:huaweicloud.ss@huawei.com">售前咨询</a>
                <div class="foot-email">
                  <p>
                    <a href="mailto:huaweicloud.ss@huawei.com">huaweicloud.ss@huawei.com</a>
                  </p>
                </div>
              </li>
              <li>
                <a href="mailto:huaweicloud.ba@huawei.com">备案服务</a>
                <div class="foot-email foot-email-right">
                  <p>
                    <a href="mailto:huaweicloud.ba@huawei.com">huaweicloud.ba@huawei.com</a>
                  </p>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <a href="mailto:huaweicloud.mp@huawei.com">云市场咨询</a>
                <div class="foot-email">
                  <p>
                    <a href="mailto:huaweicloud.mp@huawei.com">huaweicloud.mp@huawei.com</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <dl class="footer-nav-about">
          <dt>关注华为云</dt>
          <dd class="">
            <i class="footer-icon-wechat"></i>
            <a class="footer-nav-submenus-link weixin-sh" href="#">华为云微信</a>
            <a class="footer-nav-submenus-qr qr-wechat"></a>
          </dd>
          <dd class="footer-nav-about-dd-mb">
            <i class="footer-icon-phone"></i>
            <a class="footer-nav-submenus-link footer-nav-submenus-link-phone" href="tel:4000955988">4000 955 988</a>
          </dd>
          <dd>
            <i class="footer-icon-weibo"></i>
            <a class="footer-nav-submenus-link" href="//weibo.com/p/1006061930559805">华为云微博</a>
            <a class="footer-nav-submenus-qr qr-weibo" href="//weibo.com/p/1006061930559805"></a>
          </dd>
          <dd class="show">
            <i class="footer-icon-zhihu"></i>
            <a class="footer-nav-submenus-link" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities">知乎社区号</a>
            <a class="footer-nav-submenus-qr qr-zhihu" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities"></a>
          </dd>
        </dl>
        <ul class="footer-law-mb">
          <li><a href="//www.huawei.com/cn/" target="_blank">华为官网</a></li>
          <li><a href="//m.vmall.com/app/download" target="_blank">华为商城</a></li>
          <li><a href="//www.huaweicloud.com/declaration/statement.html" target="_blank">法律声明</a></li>
          <li><a href="//www.huaweicloud.com/declaration/sa_prp.html" target="_blank">隐私政策声明</a></li>
        </ul>
        {#<div class="wx-pop-wrapper">#}
          {#<div class="wx-pop">#}
            {#<img class="dbl-lazy loaded" src="//static.huaweicloud.com/static/v2_resources/images/global/footer/weixin-mobile.png">#}
            {#<p class="wx-info">长按/截图保存，微信识别二维码<br>或者关注公众号“华为云”</p>#}
          {#</div>#}
        {#</div>#}
      </div>
    </div>
  </div>
</div>