<li class="header-login-mobile">
  <a data-login-href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=" href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=https%3A%2F%2Fwww.huaweicloud.com%2F">
    <span class="header-icon header-icon-user js-login"></span>
  </a>
</li>
<li class="header-login"><a data-login-href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=" href="//auth.huaweicloud.com/authui/login?locale=zh-cn&amp;service=https%3A%2F%2Fwww.huaweicloud.com%2F" mate_data_ts="www_v2_top_navigation.click.login" class="btn js-login">登录</a></li>
<li class="header-register"><a href="//reg.huaweicloud.com/registerui/public/custom/register.html?locale=zh-cn#/register" class="btn js-register">注册</a></li>
