<li class="header-login-mobile">
  <a href="{{ path('user.login') }}">
    <span class="header-icon header-icon-user js-login"></span>
  </a>
</li>
<li class="header-login"><a href="{{ path('user.login') }}" class="btn js-login">登录</a></li>
<li class="header-register"><a href="{{ path('user.register') }}" class="btn js-register">注册</a></li>
