@import "import.theme";
*, :after, :before {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}
p, ul, li, h1, h2, h3, h4, h5, h6, dl, dd, a {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
a ,a:hover, a:visited {
  text-decoration: none;
}
#header {
  //position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  ul, li, dd, dl {
    list-style-type: none;
  }
  .header-icon {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../images/global/header/header-sprite.png?t201806141751);
    background-size: 104px auto;
  }
  .header-top {
    position: relative;
    z-index: 2;
    height: 60px;
    font-size: 14px;
    color: white;
    transition: top .3s ease-out;
    .header-main {
      background: #222;
      box-shadow: 0 5px 5px rgba(0, 0, 0, .08);
      height: 100%;
      &:before, &:after {
        content: " ";
        display: table;
      }
      .header-menu, .header-menu-mb {
        float: left;
        width: 60px;
        height: 60px;
        font-size: 0;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        transition: transform .3s;
      }
      .header-menu {
        .header-icon-menu {
          background-position: -24px -22px;
          width: 18px;
          height: 18px;
          -webkit-transition: .3s .1s;
          -moz-transition: .3s .1s;
          -ms-transition: .3s .1s;
          -o-transition: .3s .1s;
          transition: .3s .1s;
        }
      }
      .header-logo {
        float: left;
        width: 104px;
        height: 100%;
        background: url(../../images/global/header/logo.png) no-repeat center;
        background-size: 100% auto;
      }
      .header-nav {
        position: relative;
        float: left;
        margin-left: 10px;
        width: calc(100% - 610px);
        height: 100%;
        overflow: hidden;
        .header-nav-list {
          position: relative;
          z-index: 1;
          & > li {
            float: left;
            &.header-nav-hot a {
              position: relative;
            }
            & > a {
              display: block;
              padding: 15px;
              line-height: 30px;
              -webkit-transition: .3s .3s;
              -moz-transition: .3s .3s;
              -ms-transition: .3s .3s;
              -o-transition: .3s .3s;
              transition: .3s .3s;
            }
          }
          &:before,&:after {
            content: '';
            display: table;
          }
          &:after {
            clear: both;
          }
          li.header-nav-hot a:after {
            content: "";
            display: block;
            position: absolute;
            top: 20px;
            right: 7px;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #E41F2B;
          }
          li.header-nav-item-hide {
            display: none;
          }
          li:hover > a {
            color: #e41f2b;
          }
        }
        .header-nav-hover-line {
          position: absolute;
          z-index: 0;
          height: 3px;
          width: 0;
          padding: 0;
          background-color: #e41f2b;
          bottom: 0;
          -webkit-transition: .3s cubic-bezier(.4,0,.2,1);
          transition: .3s cubic-bezier(.4,0,.2,1);
        }
      }
      .header-tools {
        float: right;
        height: 100%;
        .header-lang {
          position: relative;
        }
        .header-tools-list {
          height: 100%;
          li {
            float: left;
            height: 100%;
            padding: 0 10px;
            font-size: 0;
            line-height: 60px;
            cursor: pointer;
            a {
              display: block;
              padding: 0 10px;
              margin: 0 -10px;
              font-size: 14px;
              line-height: 60px;
            }
            &.header-search-switch:hover .header-icon-search {
              background-position: -68px 0px;
            }
            &.header-register {
              padding-left: 20px;
              padding-right: 20px;
              a {
                padding-left: 20px;
                padding-right: 20px;
                margin-left: -20px;
                margin-right: -20px;
                background-color: #e41f2b;
              }
              &:hover > a {
                color: white;
                background-color: #ef323e;
              }
            }
            &:hover > a {
              color: #e41f2b;
            }
          }
          .header-icon-search {
            background-position: -36px -46px;
            width: 16px;
            height: 16px;
          }
          .header-lang-label {
            display: inline-block;
            vertical-align: middle;
            margin-left: 5px;
            font-size: 14px;
          }
          .header-lang-current {
            font-size: 0;
            .header-icon-lang-zh {
              background-position: -18px -64px;
              width: 18px;
              height: 14px;
            }
            &:hover {
              color: #e41f2b;
            }
          }
          .header-lang-list {
            display: none;
            position: absolute;
            top: 70%;
            left: 0;
            min-width: 70%;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgba(34,34,34,1);
            box-shadow: 0 2px 15px rgba(0,0,0,.4);
            .header-lang:hover > ul.header-lang-list {
              display: block;
            }
            .header-lang:hover .header-icon-lang-zh {
              background-position: -38px -64px;
            }
            .header-lang-item {
              position: relative;
              a[href] {
                cursor: pointer;
              }
              &.active > a, &:hover > a {
                color: #e41f2b;
              }
              &.active:after, &:hover:after {
                content: '';
                position: absolute;
                right: 0;
                height: 20px;
                top: 20px;
                border-right: 3px solid #e41f2b;
              }
            }

          }
          .header-login-mobile {
            display: none;
          }
        }
      }
      &:after {
        clear: both;
      }
    }
  }
}


/** common style start **/

.header-lang-item > a {
  position: relative;
  display: block;
  line-height: 20px;
  height: 40px;
  padding: 10px 20px;
  font-size: 14px;
  color: #c3c5c6;
  white-space: nowrap;
  cursor: default;
  transition: .2s;
}
.header-icon-user {
  background-position: 0px -22px;
  width: 22px;
  height: 22px;
}
//.header-user {
//  display: none;
//  font-size: 0;
//}
//
//.header-user-avator {
//  display: inline-block;
//  position: relative;
//  width: 24px;
//  height: 24px;
//  vertical-align: middle;
//}
//
//.header-tool-user-avator-img {
//  display: block;
//  width: 100%;
//  height: 100%;
//  border-radius: 50%;
//}
//
//.header-user-name {
//  display: inline-block;
//  vertical-align: middle;
//  margin-left: 5px;
//  margin-right: 20px;
//}
//
//.header-user-name span {
//  display: inline-block;
//  vertical-align: middle;
//  min-width: 20px;
//  max-width: 85px;
//  font-size: 14px;
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//}
//
//.header-user-name i {
//  margin-left: 5px;
//}
//
//.header-user.msg .header-user-avator:after {
//  content: "";
//  position: absolute;
//  top: 0;
//  right: 0;
//  width: 6px;
//  height: 6px;
//  background-color: #e41e2c;
//  border-radius: 50%;
//}
//
//.header-user-info {
//  display: none;
//  position: absolute;
//  top: 100%;
//  right: 0;
//  width: 240px;
//  padding-top: 10px;
//  padding-bottom: 10px;
//  background: #222;
//  box-shadow: 0 2px 15px rgba(0,0,0,.4);
//  cursor: default;
//}
//
//.header-user-info-list {
//  font-size: 14px;
//}
//
//.header-user-info-list > li {
//  position: relative;
//  line-height: 20px;
//}
//
//.header-user-info-list > li:after {
//  content: "";
//  display: none;
//  position: absolute;
//  top: 50%;
//  right: 0;
//  width: 3px;
//  background: #e41f2b;
//  height: 20px;
//  margin-top: -10px;
//}
//
//.header-user-info-list > li > a {
//  display: block;
//  padding: 6px 20px 6px 20px;
//  -webkit-transition: .2s;
//  transition: .2s;
//}
//
//.header-user-info-list > li:hover:after {
//  display: block;
//}
//
//.header-user-info-list > li:hover > a {
//  color: #e41f2b;
//}
//
//.header-user-info-split {
//  padding: 10px 20px;
//}
//
//.header-user-info-split:before {
//  content: "";
//  display: block;
//  border-top: solid 1px #4a4a4a;
//}

//.header-user-info-item-account {
//  overflow: hidden;
//}
//
//.header-user-info-item-account > a {
//  float: left;
//  width: 50%;
//}
//
//.header-user-info-list .header-verification {
//  padding-left: 0;
//  line-height: 20px;
//  text-align: right;
//}
//
//.header-verification i {
//  margin-right: 5px;
//  line-height: 20px;
//}
//
//.header-verification p {
//  display: none;
//  vertical-align: middle;
//  font-size: 12px;
//}
//
//.header-verification:not(.active) p.state-unactive {
//  display: inline-block;
//  color: #ff8833;
//}
//
//.header-verification.active .header-icon-verification {
//  background-position: 0px -64px;
//}

//.header-verification.active p.state-active {
//  display: inline-block;
//  color: #3dcaa6;
//}
//
//.header-user:hover .header-user-info {
//  display: block;
//}
//.header-user-info-list > li.message span {
//  width: auto;
//  min-width: 16px;
//  background-color: #e41f2b;
//  float: right;
//  padding: 0px 4px;
//  border-radius: 10px;
//  font-size: 12px;
//  line-height: 16px;
//  color: #ffffff!important;
//  margin-top: 3px;
//}
///* 登录态 */
//.logined .header-user {
//  display: block;
//}
//
//.logined .header-login-mobile,
//.logined .header-login,
//.logined .header-register {
//  display: none !important;
//}
//
@media (max-width: 767px) {
  .header-tools-list > li {
    display: none;
  }

  .header-tools-list > .header-login-mobile {
    display: block;
    margin-right: 10px;
  }
}

/* endregion header 工具区 */


/** common style end**/
