<div class="side-advertising-container ng-scope" ng-if="localizationConfig.noticeSwitch &amp;&amp; notice.contentList &amp;&amp; notice.contentList.length &gt; 0" style="">
  <div class="side-advertising-title side-advertising-title-height">
    <span ng-bind="i18n.conhome_term_notice_label" class="ng-binding">公告</span>
    <a class="side-links common-color-link ng-binding" ng-href="http://www.huaweicloud.com/about/notice_1.html" ng-bind="i18n.conhome_term_more_label" target="_blank" meta-data-uba="www_v1_home.click.更多" href="http://www.huaweicloud.com/about/notice_1.html">更多</a>
  </div>
  <div class="side-advertising-content">
    <ul>
      <!-- ngRepeat: noticeItem in notice.contentList -->
      <li ng-repeat="noticeItem in notice.contentList" class="ng-scope"><a ng-href="https://www.huaweicloud.com/notice/2018/20180827174810366.html" target="_blank" class="side-href" meta-data-uba="www_v1_home.click.华为云ICP代备案管理系统升级通知" href="https://www.huaweicloud.com/notice/2018/20180827174810366.html"><span ng-bind="noticeItem.time | limitTo : 5 : 5" style="margin-right:12px" class="ng-binding">08-27</span> <span ng-bind="noticeItem.title" title="华为云ICP代备案管理系统升级通知" class="side-title ng-binding">华为云ICP代备案管理系统升级通知</span></a></li>
      <!-- end ngRepeat: noticeItem in notice.contentList -->
      <li ng-repeat="noticeItem in notice.contentList" class="ng-scope"><a ng-href="https://www.huaweicloud.com/notice/2018/20180823163648032.html" target="_blank" class="side-href" meta-data-uba="www_v1_home.click.针对高价值服务器的GlobeImposter勒索病毒预警" href="https://www.huaweicloud.com/notice/2018/20180823163648032.html"><span ng-bind="noticeItem.time | limitTo : 5 : 5" style="margin-right:12px" class="ng-binding">08-23</span> <span ng-bind="noticeItem.title" title="针对高价值服务器的GlobeImposter勒索病毒预警" class="side-title ng-binding">针对高价值服务器的GlobeImposter勒索病毒预警</span></a></li>
      <!-- end ngRepeat: noticeItem in notice.contentList -->
      <li ng-repeat="noticeItem in notice.contentList" class="ng-scope"><a ng-href="https://www.huaweicloud.com/notice/2018/20180823114140491.html" target="_blank" class="side-href" meta-data-uba="www_v1_home.click.华为云垫付模式下，经销商账户-客户子账户扣费方案切换通知" href="https://www.huaweicloud.com/notice/2018/20180823114140491.html"><span ng-bind="noticeItem.time | limitTo : 5 : 5" style="margin-right:12px" class="ng-binding">08-23</span> <span ng-bind="noticeItem.title" title="华为云垫付模式下，经销商账户-客户子账户扣费方案切换通知" class="side-title ng-binding">华为云垫付模式下，经销商账户-客户子账户扣费方案切换通知</span></a></li>
      <!-- end ngRepeat: noticeItem in notice.contentList -->
      <li ng-repeat="noticeItem in notice.contentList" class="ng-scope"><a ng-href="https://www.huaweicloud.com/notice/2018/20180822184703794.html" target="_blank" class="side-href" meta-data-uba="www_v1_home.click.Ghostscript远程命令执行漏洞预警" href="https://www.huaweicloud.com/notice/2018/20180822184703794.html"><span ng-bind="noticeItem.time | limitTo : 5 : 5" style="margin-right:12px" class="ng-binding">08-22</span> <span ng-bind="noticeItem.title" title="Ghostscript远程命令执行漏洞预警" class="side-title ng-binding">Ghostscript远程命令执行漏洞预警</span></a></li>
      <!-- end ngRepeat: noticeItem in notice.contentList -->
    </ul>
  </div>
</div>
