<div class="side-advertising-container ng-scope" ng-if="localizationConfig.applicationRecommendationSwitch&amp;&amp;featuredApp.contentList &amp;&amp; featuredApp.contentList.length &gt; 0" style="">
  <div class="side-advertising-title">
    <span ng-bind="i18n.conhome_term_feature_app_label" class="ng-binding">应用推荐</span>
    <a class="side-links common-color-link ng-binding" ng-href="https://app.huaweicloud.com/" ng-bind="i18n.conhome_term_more_label" target="_blank" meta-data-uba="www_v1_home.click.更多_feature_app" href="https://app.huaweicloud.com/">更多</a>
  </div>
  <div class="side-advertising-content">
    <ul class="side-feature-ul">
      <!-- ngRepeat: featuredAppItem in featuredApp.contentList -->
      <li ng-repeat="featuredAppItem in featuredApp.contentList" class="ng-scope">
        <div class="side-feature-wrap">
          <img alt="" width="130px" height="50px" ng-src="https://market.huaweicloud.com/static/files/app/logo/20180413/0dd46670-786f-4ad3-878a-8a4b9347ded1/1804131023491435_zoom.png" onerror="this.onerror=null,this.src=&quot;https://app.huaweicloud.com/static/images/company_logo.png&quot;" src="https://market.huaweicloud.com/static/files/app/logo/20180413/0dd46670-786f-4ad3-878a-8a4b9347ded1/1804131023491435_zoom.png?ttl=2012655072" />
          <div class="side-feature-right">
            <p><a class="side-href ng-binding" ng-href="https://market.huaweicloud.com/product/00301-94008-0--0" ng-bind="featuredAppItem.contentName" target="_blank" meta-data-uba="www_v1_home.click.一画建站" href="https://market.huaweicloud.com/product/00301-94008-0--0">一画建站</a></p>
            <p><span ng-bind="i18n.conhome_term_moneySign_label + featuredAppItem.price" class="ng-binding">￥468</span></p>
          </div>
        </div></li>
      <!-- end ngRepeat: featuredAppItem in featuredApp.contentList -->
      <li ng-repeat="featuredAppItem in featuredApp.contentList" class="ng-scope">
        <div class="side-feature-wrap">
          <img alt="" width="130px" height="50px" ng-src="https://market.huaweicloud.com/static/files/app/logo/20180724/9dbbee81-b304-435e-a9f9-06b680de66ac/1807241500323624_zoom.png" onerror="this.onerror=null,this.src=&quot;https://app.huaweicloud.com/static/images/company_logo.png&quot;" src="https://market.huaweicloud.com/static/files/app/logo/20180724/9dbbee81-b304-435e-a9f9-06b680de66ac/1807241500323624_zoom.png?ttl=2012655072" />
          <div class="side-feature-right">
            <p><a class="side-href ng-binding" ng-href="https://market.huaweicloud.com/product/00301-102172-0--0" ng-bind="featuredAppItem.contentName" target="_blank" meta-data-uba="www_v1_home.click.解放云盘（JFun Box）" href="https://market.huaweicloud.com/product/00301-102172-0--0">解放云盘（JFun Box）</a></p>
            <p><span ng-bind="i18n.conhome_term_moneySign_label + featuredAppItem.price" class="ng-binding">￥1155</span></p>
          </div>
        </div></li>
      <!-- end ngRepeat: featuredAppItem in featuredApp.contentList -->
      <li ng-repeat="featuredAppItem in featuredApp.contentList" class="ng-scope">
        <div class="side-feature-wrap">
          <img alt="" width="130px" height="50px" ng-src="https://market.huaweicloud.com/static/files/app/logo/20180504/0475bf84-fd0e-4128-bc9a-c60b0b3e8ae5/1805041152113538_zoom.jpg" onerror="this.onerror=null,this.src=&quot;https://app.huaweicloud.com/static/images/company_logo.png&quot;" src="https://market.huaweicloud.com/static/files/app/logo/20180504/0475bf84-fd0e-4128-bc9a-c60b0b3e8ae5/1805041152113538_zoom.jpg?ttl=2012655072" />
          <div class="side-feature-right">
            <p><a class="side-href ng-binding" ng-href="https://market.huaweicloud.com/product/00301-102655-0--0" ng-bind="featuredAppItem.contentName" target="_blank" meta-data-uba="www_v1_home.click.智迅云客服" href="https://market.huaweicloud.com/product/00301-102655-0--0">智迅云客服</a></p>
            <p><span ng-bind="i18n.conhome_term_moneySign_label + featuredAppItem.price" class="ng-binding">￥120</span></p>
          </div>
        </div></li>
      <!-- end ngRepeat: featuredAppItem in featuredApp.contentList -->
      <li ng-repeat="featuredAppItem in featuredApp.contentList" class="ng-scope">
        <div class="side-feature-wrap">
          <img alt="" width="130px" height="50px" ng-src="https://market.huaweicloud.com/static/files/app/logo/20180621/a9a79b39-793b-4533-b2dc-5cf39888644f/1806211431363766_zoom.png" onerror="this.onerror=null,this.src=&quot;https://app.huaweicloud.com/static/images/company_logo.png&quot;" src="https://market.huaweicloud.com/static/files/app/logo/20180621/a9a79b39-793b-4533-b2dc-5cf39888644f/1806211431363766_zoom.png?ttl=2012655072" />
          <div class="side-feature-right">
            <p><a class="side-href ng-binding" ng-href="https://market.huaweicloud.com/product/00301-110112-0--0" ng-bind="featuredAppItem.contentName" target="_blank" meta-data-uba="www_v1_home.click.辰商云小程序社交电商解决方案" href="https://market.huaweicloud.com/product/00301-110112-0--0">辰商云小程序社交电商解决方案</a></p>
            <p><span ng-bind="i18n.conhome_term_moneySign_label + featuredAppItem.price" class="ng-binding">￥4000</span></p>
          </div>
        </div></li>
      <!-- end ngRepeat: featuredAppItem in featuredApp.contentList -->
    </ul>
  </div>
</div>
