<div class="my-resource ng-scope" id="myResources" ng-if="localizationConfig.myResourceSwitch">
  <div class="my-resource-title">
    <span class="title ng-binding" >我的资源</span>
    <span class="cloud-regionName ng-binding" >[香港]</span>
  </div>
  <div class="ti-icon ti-icon-config float-right my-resource-custom" ng-click="showResourseModal()"></div>
  <div class="my-resource-list">
    <div class="resource float-left ng-scope" >
      <a class="resource-link" >
        <span class="resource-name ng-binding" title="密钥管理服务" >密钥管理服务</span>
        <span class="resource-count ng-binding" >(0)</span>
      </a>
    </div>
    <div class="resource float-left ng-scope" >
      <a class="resource-link"  >
        <span class="resource-name ng-binding" title="弹性云服务器" >弹性云服务器</span>
        <span class="resource-count ng-binding" >(0)</span>
      </a>
    </div>
    <div class="resource float-left ng-scope">
      <a class="resource-link" >
        <span class="resource-name ng-binding" title="弹性公网IP">弹性公网IP</span>
        <span class="resource-count ng-binding" >(0)</span>
      </a>
    </div>
    <div class="resource float-left ng-scope">
      <a class="resource-link" >
        <span class="resource-name ng-binding" title="弹性伸缩" >弹性伸缩</span>
        <span class="resource-count ng-binding" >(0)</span>
      </a>
    </div>
    <div class="resource float-left ng-scope" >
      <a class="resource-link" >
        <span class="resource-name ng-binding" title="专属云">专属云</span>
        <span class="resource-count ng-binding">(0)</span>
      </a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="view-more-resource">
    <a hws-href="" href="#">
      <span class="view-more-text ng-binding">查看全部区域资源</span>
      <span class="view-more-icon icon-cloud-action-next"></span>
    </a>
  </div>
</div>
