<div class="footer-nav" meta-data-adjust-app="hide">
  <div class="footer-wrapper">
    <div class="footer-nav-menus">
      <dl>
        <dt>产品与支持</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/product/" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.产品_20180807">产品</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/solution/" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.解决方案_20180807">解决方案</a></dd>
        <dd><a class="footer-link" href="//app.huaweicloud.com" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.云市场_20180807">云市场</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.开发者中心_20180807">开发者中心</a></dd>
        <dd><a class="footer-link" href="//portal.huaweicloud.com/consultation" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.服务咨询_20180807">服务咨询</a></dd>
        <dd><a class="footer-link" href="//support.huaweicloud.com" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.帮助中心_20180807">帮助中心</a></dd>
        <dd><a class="footer-link" href="//portal.huaweicloud.com/feedback" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.意见反馈_20180807">意见反馈</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/contact.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.联系我们_20180807">联系我们</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/VIP_client.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.支持与服务计划_20180807">支持与服务计划</a></dd>
      </dl>
      <dl>
        <dt>账号与支付</dt>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.充值/付款_20180807">充值/付款</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn&amp;agencyId=1ed3f1041585452bb4770842b2d1dbb8&amp;region=cn-north-1#/userindex/contractApply" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.合同申请_20180807">合同申请</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/balanceRecharge" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.线下汇款/电汇_20180807">线下汇款/电汇</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/#/userindex/invoiceCenter" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.索取发票_20180807">索取发票</a></dd>
      </dl>
      <dl>
        <dt>快速链接</dt>
        <dd><a class="footer-link" href="//portal.huaweicloud.com/pricing" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.价格计算器_20180807">价格计算器</a></dd>
        <dd><a class="footer-link" href="https://console.huaweicloud.com/console/?region=cn-east-2&amp;locale=zh-cn#/home" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.管理控制台_20180807">管理控制台</a></dd>
        <dd><a class="footer-link" href="//support.huaweicloud.com/beian_index.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.备案中心_20180807">备案中心</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?locale=zh-cn#/userindex/allview" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.费用中心_20180807">费用中心</a></dd>
        <dd><a class="footer-link" href="//account.huaweicloud.com/usercenter/?agencyId=ef87414dfee34e5e84679275504170a9&amp;region=cn-east-2&amp;locale=zh-cn#/accountindex/accountInfo" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.用户中心_20180807">用户中心</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com/dsource/" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云图标库_20180807">华为云图标库</a></dd>
        <dd><a class="footer-link" href="//developer.huaweicloud.com/axurelib/" target="_blank" mate_data_ts="www_v3_bottom_footer.click.华为云Axure组件库" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云Axure组件库_20180807">华为云Axure组件库</a></dd>
      </dl>
      <dl>
        <dt>关于华为云</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/index.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.了解华为云_20180807">了解华为云</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/about/about_us.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云简介_20180807">华为云简介</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/cases/cases_1.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.客户案例_20180807">客户案例</a></dd>
        <dd class="split-line"></dd>
        <dt>信任中心</dt>
        <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/overallsafety.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云安全_20180807">华为云安全</a></dd>
        <dd><a class="footer-link" href="//www.huaweicloud.com/securecenter/safetycompliance.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.安全合规_20180807">安全合规</a></dd>
      </dl>

      <div class="footer-nav-other-link">
        <span>其他链接</span>
        <a class="footer-link" href="//www.huawei.com/cn/?ic_medium=direct&amp;ic_source=surlent" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为官网_20180807">华为官网</a>
        <a class="footer-link" href="//developer.huawei.com/ict/cn" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为开发者中心_20180807">华为开发者中心</a>
        <a class="footer-link" href="//developer.huawei.com/cn/consumer" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为开发者联盟_20180807">华为开发者联盟</a>
        <a class="footer-link" href="//e.huawei.com/cn/" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为企业业务_20180807">华为企业业务</a>
        <a class="footer-link" href="//www.vmall.com/#cid=92120" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为商城_20180807">华为商城</a>
        <a class="footer-link" href="//career.huawei.com/reccampportal/#campus4/content.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为招聘_20180807">华为招聘</a>
      </div>
    </div>
    <div class="footer-nav-submenus">
      <div class="footer-nav-submenus-inner">
        <ul class="footer-law-mb">
          <li><a href="//www.huaweicloud.com/declaration/statement.html" target="_blank" mate_ts_data="www_china_zh-cn_v5_footer.click.法律声明_mb_20180807">法律声明</a></li>
          <li><a href="//www.huaweicloud.com/declaration/sa_prp.html" target="_blank" mate_ts_data="www_china_zh-cn_v5_footer.click.隐私政策声明_mb_20180807">隐私政策声明</a></li>
        </ul>
        <div class="footer-nav-contact">
          <div class="footer-nav-contact-phone">
            <h1>上云服务热线</h1>
            <p>4000 955 988</p>
            <ul>
              <li><a href="mailto:huaweicloud.ss@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.售前咨询1_20180807">售前咨询</a>
                <div class="foot-email">
                  <p>
                    <a href="mailto:huaweicloud.ss@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.售前咨询2_20180807">huaweicloud.ss@huawei.com</a>
                  </p>
                </div>
              </li>
              <li>
                <a href="mailto:huaweicloud.ba@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.备案服务1_20180807">备案服务</a>
                <div class="foot-email foot-email-right">
                  <p>
                    <a href="mailto:huaweicloud.ba@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.备案服务2_20180807">huaweicloud.ba@huawei.com</a>
                  </p>
                </div>
              </li>
            </ul>
            <ul>
              <li>
                <a href="mailto:huaweicloud.mp@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.云市场咨询1_20180807">云市场咨询</a>
                <div class="foot-email">
                  <p>
                    <a href="mailto:huaweicloud.mp@huawei.com" mate_ts_data="www_china_zh-cn_v5_footer.click.云市场咨询1_20180807">huaweicloud.mp@huawei.com</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <dl class="footer-nav-about">
          <dt>关注华为云</dt>
          <dd class="">
            <i class="footer-icon-wechat"></i>
            <a class="footer-nav-submenus-link weixin-sh">华为云微信</a>
            <a class="footer-nav-submenus-qr qr-wechat"></a>
          </dd>
          <dd class="footer-nav-about-dd-mb">
            <i class="footer-icon-phone"></i>
            <a class="footer-nav-submenus-link footer-nav-submenus-link-phone" href="tel:4000955988" mate_ts_data="www_china_zh-cn_v5_footer.click.4000 955 988_20180807">4000 955 988</a>
          </dd>
          <dd>
            <i class="footer-icon-weibo"></i>
            <a class="footer-nav-submenus-link" href="//weibo.com/p/1006061930559805" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云微博_20180807">华为云微博</a>
            <a class="footer-nav-submenus-qr qr-weibo" href="//weibo.com/p/1006061930559805" mate_ts_data="www_china_zh-cn_v5_footer.click._20180807"></a>
          </dd>
          <dd class="show">
            <i class="footer-icon-zhihu"></i>
            <a class="footer-nav-submenus-link" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities" mate_ts_data="www_china_zh-cn_v5_footer.click.知乎社区号_20180807">知乎社区号</a>
            <a class="footer-nav-submenus-qr qr-zhihu" href="//www.zhihu.com/org/hua-wei-yun-ji-zhu-zhai-ji-di/activities" mate_ts_data="www_china_zh-cn_v5_footer.click._20180807"></a>
          </dd>
        </dl>
        <div class="wx-pop-wrapper">
          <div class="wx-pop">
            <img class="dbl-lazy loaded" src="//static.huaweicloud.com/static/v2_resources/images/global/footer/weixin-mobile.png">
            <p class="wx-info">长按/截图保存，微信识别二维码<br>或者关注公众号“华为云”</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-copyright-container" meta-data-adjust-app="hide">
  <div class="footer-wrapper footer-copyright-wrapper">
    <ul class="footer-law">
      <li><a class="footer-link" href="//www.huaweicloud.com/declaration/statement.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.法律声明_20180807">法律声明</a></li>
      <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_prp.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.隐私政策声明_20180807">隐私政策声明</a></li>
      <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_nisr.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.可接受的使用政策_20180807">可接受的使用政策</a></li>
      <li><a class="footer-link" href="//www.huaweicloud.com/declaration/sa_cua.html" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.华为云用户协议_20180807">华为云用户协议</a></li>
      <li><a class="footer-link" href="//portal.huaweicloud.com/feedback?type=jubao" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.举报不良信息_20180807">举报不良信息</a></li>
    </ul>
    <div class="footer-copyright">
      <span>版权所有 © 华为软件技术有限公司 2018</span>
      <span>保留一切权利</span>
      <a class="footer-link" href="//www.miitbeian.gov.cn" target="_blank" rel="nofollow" mate_ts_data="www_china_zh-cn_v5_footer.click.苏ICP备17040376号-5_20180807">苏ICP备17040376号-5</a>
      <span>苏B2-20130048号</span>
    </div>
    <div class="footer-record">
      <i class="footer-icon-record1"></i>
      <i class="footer-icon-record2"><a href="//www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011402010008" target="_blank" mate_ts_data="www_china_zh-cn_v5_footer.click.网站备案_20180807"></a></i>
      <span>苏公网安备 32011402010008号</span>
    </div>
  </div>
</div>